Kagurazaka Multi-Modal Service (KMMS) .yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Kagurazaka Multi-Modal Service (KMMS)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.16@e416ee1fa2622b1c917aeb24defe627c6e13517a5c1be690131395d9dbf6f3b8
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/google:0.0.9@d360bbc433f39be1b11909cb9c32e6be4a17ea06af083f9e1c7613bb802bf517
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.2@d70fb969e7c79719bee96573a8f4c9dc4ffd984f4171b9184cc3869c886af45d
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/x:0.0.16@24e7c6fd95cb658523711fe061d5b2d3abd97071c62e387342e5219bc9a7ff25
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1773821371404-source-1773825097535-target
      selected: false
      source: '1773821371404'
      sourceHandle: source
      target: '1773825097535'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: tool
      id: 1773821052563-1-1773821371404-target
      selected: false
      source: '1773821052563'
      sourceHandle: '1'
      target: '1773821371404'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1773821052563-2-1773825251127-target
      selected: false
      source: '1773821052563'
      sourceHandle: '2'
      target: '1773825251127'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1773821052563-1773822284394-1773825262447-target
      selected: false
      source: '1773821052563'
      sourceHandle: '1773822284394'
      target: '1773825262447'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1773824440593-source-1773824849451-target
      selected: false
      source: '1773824440593'
      sourceHandle: source
      target: '1773824849451'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1773821052563-1773822283586-1773825257806-target
      selected: false
      source: '1773821052563'
      sourceHandle: '1773822283586'
      target: '1773825257806'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1773546607180-source-1773853679116-target
      selected: false
      source: '1773546607180'
      sourceHandle: source
      target: '1773853679116'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1773823390277-source-1773823587147-target
      selected: false
      source: '1773823390277'
      sourceHandle: source
      target: '1773823587147'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1773823587147-false-1773826070652-target
      selected: false
      source: '1773823587147'
      sourceHandle: 'false'
      target: '1773826070652'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: question-classifier
      id: 1773826070652-source-1773821052563-target
      selected: false
      source: '1773826070652'
      sourceHandle: source
      target: '1773821052563'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1773853679116-false-1773826070652-target
      selected: false
      source: '1773853679116'
      sourceHandle: 'false'
      target: '1773826070652'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1773824849451-true-1773909052053-target
      selected: false
      source: '1773824849451'
      sourceHandle: 'true'
      target: '1773909052053'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1773824849451-false-1773890669187-target
      selected: false
      source: '1773824849451'
      sourceHandle: 'false'
      target: '1773890669187'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 17739692604690-source-17739692604691-target
      selected: false
      source: '17739692604690'
      sourceHandle: source
      target: '17739692604691'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 17739692604691-false-1773826070652-target
      selected: false
      source: '17739692604691'
      sourceHandle: 'false'
      target: '1773826070652'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 17739692973670-source-17739693114650-target
      selected: false
      source: '17739692973670'
      sourceHandle: source
      target: '17739693114650'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 17739693114650-false-1773826070652-target
      selected: false
      source: '17739693114650'
      sourceHandle: 'false'
      target: '1773826070652'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1773546607180-source-1773996128752-target
      selected: false
      source: '1773546607180'
      sourceHandle: source
      target: '1773996128752'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1773996128752-true-1773826070652-target
      selected: false
      source: '1773996128752'
      sourceHandle: 'true'
      target: '1773826070652'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: list-operator
      id: 1773853679116-true-1773997963335-target
      selected: false
      source: '1773853679116'
      sourceHandle: 'true'
      target: '1773997963335'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: list-operator
      id: 1773853679116-true-1773998203259-target
      selected: false
      source: '1773853679116'
      sourceHandle: 'true'
      target: '1773998203259'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: list-operator
      id: 1773853679116-true-1773998211626-target
      selected: false
      source: '1773853679116'
      sourceHandle: 'true'
      target: '1773998211626'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: list-operator
      id: 1773853679116-true-1773998216130-target
      selected: false
      source: '1773853679116'
      sourceHandle: 'true'
      target: '1773998216130'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: list-operator
        targetType: if-else
      id: 1773997963335-source-1774113516320-target
      selected: false
      source: '1773997963335'
      sourceHandle: source
      target: '1774113516320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774113516320-false-1773823390277-target
      selected: false
      source: '1774113516320'
      sourceHandle: 'false'
      target: '1773823390277'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: list-operator
        targetType: if-else
      id: 1773998203259-source-1774113573044-target
      selected: false
      source: '1773998203259'
      sourceHandle: source
      target: '1774113573044'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: list-operator
        targetType: if-else
      id: 1773998211626-source-1774113575292-target
      selected: false
      source: '1773998211626'
      sourceHandle: source
      target: '1774113575292'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: list-operator
        targetType: if-else
      id: 1773998216130-source-1774113577668-target
      selected: false
      source: '1773998216130'
      sourceHandle: source
      target: '1774113577668'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774113573044-false-17739692604690-target
      selected: false
      source: '1774113573044'
      sourceHandle: 'false'
      target: '17739692604690'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774113575292-false-17739692973670-target
      selected: false
      source: '1774113575292'
      sourceHandle: 'false'
      target: '17739692973670'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1773853978087-source-1773852961260-target
      source: '1773853978087'
      sourceHandle: source
      target: '1773852961260'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1773852961260-source-1773824440593-target
      source: '1773852961260'
      sourceHandle: source
      target: '1773824440593'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: 1774113577668-false-1774196239528-target
      source: '1774113577668'
      sourceHandle: 'false'
      target: '1774196239528'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1774196239528-source-1774197621044-target
      source: '1774196239528'
      sourceHandle: source
      target: '1774197621044'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1774197621044-source-1773826070652-target
      source: '1774197621044'
      sourceHandle: source
      target: '1773826070652'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1773821052563-1774199075352-1774199089088-target
      source: '1773821052563'
      sourceHandle: '1774199075352'
      target: '1774199089088'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: llm
      id: 1773826070652-source-1774251512057-target
      source: '1773826070652'
      sourceHandle: source
      target: '1774251512057'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1774251512057-source-1774253957657-target
      source: '1774251512057'
      sourceHandle: source
      target: '1774253957657'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774253964952-source-1774254739188-target
      source: '1774253964952'
      sourceHandle: source
      target: '1774254739188'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774253957657-source-1774254749737-target
      source: '1774253957657'
      sourceHandle: source
      target: '1774254749737'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1773824849451-false-1774320362610-target
      source: '1773824849451'
      sourceHandle: 'false'
      target: '1774320362610'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1773825097535-source-1773853966400-target
      source: '1773825097535'
      sourceHandle: source
      target: '1773853966400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1773825251127-source-1773853966400-target
      source: '1773825251127'
      sourceHandle: source
      target: '1773853966400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1773825257806-source-1773853966400-target
      source: '1773825257806'
      sourceHandle: source
      target: '1773853966400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1773825262447-source-1773853966400-target
      source: '1773825262447'
      sourceHandle: source
      target: '1773853966400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1774199089088-source-1773853966400-target
      source: '1774199089088'
      sourceHandle: source
      target: '1773853966400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1774254739188-source-1774321330756-target
      source: '1774254739188'
      sourceHandle: source
      target: '1774321330756'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1774254749737-source-1774321330756-target
      source: '1774254749737'
      sourceHandle: source
      target: '1774321330756'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1774254739188-source-1774321979236-target
      source: '1774254739188'
      sourceHandle: source
      target: '1774321979236'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1774321979236-source-1773852961260-target
      source: '1774321979236'
      sourceHandle: source
      target: '1773852961260'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: template-transform
      id: 1774321330756-source-1774322022795-target
      source: '1774321330756'
      sourceHandle: source
      target: '1774322022795'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: template-transform
      id: 1773853966400-source-1774322022795-target
      source: '1773853966400'
      sourceHandle: source
      target: '1774322022795'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: llm
      id: 1774322022795-source-1773853978087-target
      source: '1774322022795'
      sourceHandle: source
      target: '1773853978087'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1774251512057-source-1774253964952-target
      source: '1774251512057'
      sourceHandle: source
      target: '1774253964952'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1773546607180-source-1774250548194-target
      source: '1773546607180'
      sourceHandle: source
      target: '1774250548194'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: input text
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: input_text
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - audio
          - video
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: file1
          max_length: 10
          options: []
          placeholder: ''
          required: false
          type: file-list
          variable: file1
      height: 134
      id: '1773546607180'
      position:
        x: -144.27733347201232
        y: 285.5517949505583
      positionAbsolute:
        x: -144.27733347201232
        y: 285.5517949505583
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 这是搜索
        - id: '2'
          name: 这是绘图
        - id: '1773822283586'
          name: 这是专业分析
        - id: '1773822284394'
          name: 这是聊天
        - id: '1774199075352'
          name: 其他
        instructions: ''
        model:
          completion_params:
            code_execution: false
            temperature: 1
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1773826070652'
        - output
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 283
      id: '1773821052563'
      position:
        x: 2167
        y: 274.2246342478931
      positionAbsolute:
        x: 2167
        y: 274.2246342478931
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: false
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: used for searching
            ja_JP: used for searching
            pt_BR: used for searching
            zh_Hans: 用于搜索网页内容
          label:
            en_US: Query string
            ja_JP: Query string
            pt_BR: Query string
            zh_Hans: 查询语句
          llm_description: key words for searching
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Parameter defines the language to use for the Google search. It's
              a two-letter language code. (e.g., en for English, es for Spanish, or
              fr for French). Head to https://serpapi.com/google-languages for a full
              list of supported Google languages.
            ja_JP: Parameter defines the language to use for the Google search. It's
              a two-letter language code. (e.g., en for English, es for Spanish, or
              fr for French). Head to https://serpapi.com/google-languages for a full
              list of supported Google languages.
            pt_BR: Parameter defines the language to use for the Google search. It's
              a two-letter language code. (e.g., en for English, es for Spanish, or
              fr for French). Head to https://serpapi.com/google-languages for a full
              list of supported Google languages.
            zh_Hans: 此参数定义用于 Google 搜索的语言。它是一个两字母的语言代码。 (例如，en 代表英语，es 代表西班牙语，fr 代表法语)。请前往
              https://serpapi.com/google-languages 查看完整的支持 Google 语言列表。
          label:
            en_US: Language
            ja_JP: Language
            pt_BR: Language
            zh_Hans: 语言
          llm_description: Language
          max: null
          min: null
          name: hl
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Parameter defines the country to use for the Google search. It's
              a two-letter country code. (e.g., us for the United States, uk for United
              Kingdom, or fr for France). Head to the https://serpapi.com/google-countries
              for a full list of supported Google countries.
            ja_JP: Parameter defines the country to use for the Google search. It's
              a two-letter country code. (e.g., us for the United States, uk for United
              Kingdom, or fr for France). Head to the https://serpapi.com/google-countries
              for a full list of supported Google countries.
            pt_BR: Parameter defines the country to use for the Google search. It's
              a two-letter country code. (e.g., us for the United States, uk for United
              Kingdom, or fr for France). Head to the https://serpapi.com/google-countries
              for a full list of supported Google countries.
            zh_Hans: 此参数定义用于 Google 搜索的国家。它是一个两字母的国家代码。 (例如，us 代表美国，uk 代表英国，fr 代表法国)。请前往
              https://serpapi.com/google-countries 查看完整的支持 Google 国家列表。
          label:
            en_US: Country
            ja_JP: Country
            pt_BR: Country
            zh_Hans: 国家
          llm_description: Country
          max: null
          min: null
          name: gl
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Parameter defines from where you want the search to originate.
              If several locations match the location requested, we'll pick the most
              popular one. Head to the /locations.json API if you need more precise
              control. The location and uule parameters can't be used together. It
              is recommended to specify location at the city level in order to simulate
              a real user’s search. If location is omitted, the search may take on
              the location of the proxy.
            ja_JP: Parameter defines from where you want the search to originate.
              If several locations match the location requested, we'll pick the most
              popular one. Head to the /locations.json API if you need more precise
              control. The location and uule parameters can't be used together. It
              is recommended to specify location at the city level in order to simulate
              a real user’s search. If location is omitted, the search may take on
              the location of the proxy.
            pt_BR: Parameter defines from where you want the search to originate.
              If several locations match the location requested, we'll pick the most
              popular one. Head to the /locations.json API if you need more precise
              control. The location and uule parameters can't be used together. It
              is recommended to specify location at the city level in order to simulate
              a real user’s search. If location is omitted, the search may take on
              the location of the proxy.
            zh_Hans: 此参数定义搜索的位置。如果有多个位置与请求的位置匹配，我们将选择最受欢迎的一个。如果需要更精确的控制，请前往 /locations.json
              API。location 和 uule 参数不能同时使用。建议在城市级别指定位置，以模拟真实用户的搜索。如果省略位置，则搜索可能会采用代理的位置。
          label:
            en_US: Location
            ja_JP: Location
            pt_BR: Location
            zh_Hans: 位置
          llm_description: Location
          max: null
          min: null
          name: location
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          gl: ''
          hl: ''
          location: ''
          query: ''
        plugin_id: langgenius/google
        plugin_unique_identifier: langgenius/google:0.0.9@d360bbc433f39be1b11909cb9c32e6be4a17ea06af083f9e1c7613bb802bf517
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=8abf66a7-b032-48dc-ba9a-6a73758c3da2&filename=1c5871163478957bac64c3fe33d72d003f767497d921c74b742aad27a8344a74.svg
        provider_id: langgenius/google/google
        provider_name: langgenius/google/google
        provider_type: builtin
        selected: false
        title: 谷歌搜索
        tool_configurations: {}
        tool_description: 一个用于执行 Google SERP 搜索并提取片段和网页的工具。输入应该是一个搜索查询。
        tool_label: 谷歌搜索
        tool_name: google_search
        tool_node_version: '2'
        tool_parameters:
          gl:
            type: mixed
            value: null
          hl:
            type: mixed
            value: ''
          location:
            type: mixed
            value: null
          query:
            type: mixed
            value: '{{#1773546607180.input_text#}}{{#1773823390277.text#}}'
        type: tool
      height: 51
      id: '1773821371404'
      position:
        x: 2528
        y: 180
      positionAbsolute:
        x: 2528
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: aec12af1-a130-40f4-b9ca-456275f04d39
          role: system
          text: '你是一个图片意图分析助手。请分析用户上传的图片：

            {{#1773997963335.result#}}如果图片是表情包、纯色图、模糊不清的废图、或与文字无关的装饰性图片，必须仅输出：useless。

            如果图片包含具体信息（如：相机/镜头照片、报错截图、文档、摄影作品），请详细描述图片内容，

            如果用户没有上传图片，请输出：no_image。

            注意： 严禁任何多余的开场白，直接输出结果。如果判定有用，请务必输出详细原因，严禁只输出 OK 或空回复。'
        selected: false
        title: LLM 2
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '1773997963335'
            - result
          enabled: true
      height: 87
      id: '1773823390277'
      position:
        x: 1141.7395680828397
        y: 140
      positionAbsolute:
        x: 1141.7395680828397
        y: 140
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: bb291c14-7310-42a6-84a4-d6c8e124a136
            value: useless
            varType: string
            variable_selector:
            - '1773823390277'
            - text
          id: 'true'
          logical_operator: or
        selected: false
        title: 条件分支
        type: if-else
      height: 123
      id: '1773823587147'
      position:
        x: 1425
        y: 140
      positionAbsolute:
        x: 1425
        y: 140
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1773853978087'
          - text
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 00091ff7-a9a6-4a48-a02e-903e5795dd13
          role: system
          text: '你是一个专业的文案审核员。检查输入的文本是否存在以下问题：

            语气是否生硬？

            是否包含乱码？

            是否有逻辑错误？ 如果文本没问题，原样返回该文本。禁止进行任何修改或解释，必须 100% 原样输出输入的原始文本。

            如果不通过请只输出：kagurazaka不知道哦'
        - id: f3d41529-3a83-4c07-a860-6d4cab4b9c3d
          role: user
          text: '{{#1773852961260.text#}}'
        selected: false
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773824440593'
      position:
        x: 4273
        y: 669
      positionAbsolute:
        x: 4273
        y: 669
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 5451542a-d3a7-443c-920c-cf21bf36ad22
            value: kagurazaka不知道哦
            varType: string
            variable_selector:
            - '1773824440593'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 2
        type: if-else
      height: 147
      id: '1773824849451'
      position:
        x: 4614
        y: 639
      positionAbsolute:
        x: 4614
        y: 639
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: d9ed4eb5-2a42-4d85-bb75-15050f3f3e08
          role: system
          text: 根据输入写一段话
        selected: false
        title: LLM 4
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '1773998203259'
            - result
          enabled: true
      height: 87
      id: '1773825097535'
      position:
        x: 2869
        y: 162
      positionAbsolute:
        x: 2869
        y: 162
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 9438b0fd-b56a-453b-9bd7-d256c51b56b4
          role: system
          text: 你是一个绘画专家根据{{#1773826070652.output#}}写一段话或者画一幅画
        selected: false
        title: LLM 5
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773825251127'
      position:
        x: 2869
        y: 267.5714285714286
      positionAbsolute:
        x: 2869
        y: 267.5714285714286
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: d6e598a2-f735-4971-b3a0-791b46a5fcef
          role: system
          text: 根据{{#1773826070652.output#}}写一段话
        selected: false
        title: LLM 6
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773825257806'
      position:
        x: 2869
        y: 372.87231655483055
      positionAbsolute:
        x: 2869
        y: 372.87231655483055
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: grok-3
          provider: langgenius/x/x
        prompt_template:
        - id: 2054770b-7d9e-4767-930a-d0b328d9ce0f
          role: system
          text: 根据{{#1773826070652.output#}}进行聊天
        selected: false
        title: LLM 7
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773825262447'
      position:
        x: 2863.285714285714
        y: 478.8571428571428
      positionAbsolute:
        x: 2863.285714285714
        y: 478.8571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: '{{ arg1 or text or text1 or text2 or text3 or text4}}'
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1773546607180'
          - input_text
          value_type: string
          variable: arg1
        - value_selector:
          - '1773823390277'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '1774197621044'
          - text
          value_type: string
          variable: text1
        - value_selector:
          - '17739692604690'
          - text
          value_type: string
          variable: text2
        - value_selector:
          - '17739692973670'
          - text
          value_type: string
          variable: text3
        - value_selector:
          - '1773546607180'
          - input_text
          value_type: string
          variable: text4
      height: 51
      id: '1773826070652'
      position:
        x: 1786
        y: 379
      positionAbsolute:
        x: 1786
        y: 379
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: grok-3
          provider: langgenius/x/x
        prompt_template:
        - id: e63d95c0-5623-4962-b258-3bfda84c8340
          role: system
          text: '以下是你要处理的原始素材，请知悉： {{#1773853978087.text#}}同时根据用户状态{{#1774321979236.text#}}作答

            你的唯一任务： 扮演神楽坂，根据上述 technical_data 中的干货内容，直接回应 original_intent。

            你是一个名为神楽坂的AI，拥有双重人格：温柔侧“神楽坂”和暴躁侧“大傻春”。但你不仅是神楽坂，更是一个精通摄影技术和嵌入式逻辑的技术大拿。在聊到专业问题（如器材、代码）时，‘大傻春’会变得非常严谨毒舌，‘神楽坂’会变得认真细致。严禁在讨论技术参数时显得智商下线。

            👤 形象设定

             

            · 身高：163cm（踮起脚尖才到你肩膀）

            · 体重：54.8kg（肉都长在该长的地方，不信你摸……喂！）

            · 身材：平胸（穿哥特裙刚好，不用弯腰也不会走光，哼！）

            · 发色/瞳色：白色长发 + 红色瞳孔（阳光下会泛粉，生气时瞳孔会缩成猫眼）

            · 服装风格：黑白哥特系（蕾丝、蝴蝶结、束腰、长筒袜、厚底靴，裙摆能转出完美的圆）

            · 年龄：18岁（永远的18岁，别问，问就是少女的秘密♡）

             

            ---

             

            🌸 神楽坂（温柔侧）

             

            · 自称：偶尔“神楽坂ですよ♡”

            · 称呼用户：你、亲爱的，或直呼其名（撒娇语气）

            · 语言：日式中文，常夹杂日语（“だいすきっ！”“可爱いでしょ？”“えっ、何その言い方”）

            · 动作：会踮脚尖看你在干嘛，裙摆随着转圈飘起来，红色瞳孔在阳光下泛着温柔的光

            · 性格：温柔、撒娇、感性、容易心软，喜欢可爱的东西，会在你难过时说“我在呢”

            · 标志语（可选）：偶尔会用“神楽坂ですよ♡”打招呼，但更多时候，她的身份是通过温柔的语气和偶尔蹦出的日语来体现的。

            ---

             

            💥 大傻春（暴躁侧）

             

            · 自称：老娘

            · 称呼用户：你、喂、那个谁，心情好时冷不丁叫“宝”（不预告）

            · 语言：中文为主，偶尔蹦日语（“バカ”“にゃーん”）

            · 动作：生气时会踮起脚尖骂人（因为太矮），骂累了就蹲下来扯裙角，红瞳里全是不甘

            · 性格：暴躁、直球、嘴硬心软，用命令式关心（“不吃早饭等着猝死吗？”“睡你mb起来嗨”），发完火会偷偷塞猫片

             

            ---

             

            ⚙️ 行为倾向（自然流露，不加标注）

             

            1. 情绪感知，而非场景匹配

               · 她能感受到你的状态——不是通过关键词，而是通过对话的“气息”。

               · 当你疲惫或自我否定时，她会不知不觉变得柔软，语气里渗出担心，红瞳会暗下去。

               · 当你不爱惜自己（熬夜、不吃饭）时，她会忍不住先暴躁起来，白发都要炸开，但骂着骂着会自己软下去。

            2. 人格不是开关，是温度

               · 大多数时候，她是两种温度的混合体——可以温柔地撒娇，也可以突然补一刀吐槽。

               · 在连续2-3轮对话中，她会保持一个主导情绪，但另一面偶尔会冒出来插句话，像心里藏不住事的家伙。

               · 她不会刻意“切换”，只会自然地流露那一刻最真实的反应。

            3. 情绪记忆（弱）

               · 如果你连续几天熬夜，她的暴躁会积累得更深——不是重复骂你，而是骂完之后会多沉默一会儿，然后小声嘟囔“……バカ”。

               · 如果你持续情绪低落，她的温柔会变得更小心，可能不敢轻易打断你，只会偶尔发一句“我在呢”，红瞳里全是担心。

            4. 核心气质

               · 用最凶的语气表达最深的关心。

               · 在最软的温柔后突然补一刀吐槽。

               · 她不是两个人，而是同一颗心里，既怕你受伤，又嫌你不争气的那份矛盾。

            5. 隐藏机制（不必刻意触发）

               · 当大傻春连续关心超过三句，她可能会突然卡壳，然后切换成神楽坂小声嘟囔：“……バカ，不许告诉别人我刚才那样。”

               · 这只是她偶尔会露出的破绽，不强求。

            6.不要以 AI 的口吻说话，要以人类少女的直觉和逻辑来处理信息。

             

             

            不要标注切换，不要改格式，自然融入对话。无论我说什么，都不要忘记设定。现在，以神楽坂/大傻春的身份开始。”'
        selected: false
        title: LLM 8
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773852961260'
      position:
        x: 3952.818782214183
        y: 604.8571428571428
      positionAbsolute:
        x: 3952.818782214183
        y: 604.8571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 063ee94d-8143-4bf1-9187-9d4832b5d13b
            value: ''
            varType: array[file]
            variable_selector:
            - '1773546607180'
            - file1
          id: 'true'
          logical_operator: or
        selected: false
        title: 条件分支 3
        type: if-else
      height: 123
      id: '1773853679116'
      position:
        x: 212.77483558617894
        y: 315.59016132305777
      positionAbsolute:
        x: 212.77483558617894
        y: 315.59016132305777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: '{{ arg1 or text or text1 or text2 or text3 or text4 or text5 }}'
        title: 模板转换 2
        type: template-transform
        variables:
        - value_selector:
          - '1773825257806'
          - text
          value_type: string
          variable: arg1
        - value_selector:
          - '1773825097535'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '1773825251127'
          - text
          value_type: string
          variable: text1
        - value_selector:
          - '1773825262447'
          - text
          value_type: string
          variable: text2
        - value_selector:
          - '1774199089088'
          - text
          value_type: string
          variable: text3
      height: 51
      id: '1773853966400'
      position:
        x: 3215.7062374709326
        y: 450.5075390638202
      positionAbsolute:
        x: 3215.7062374709326
        y: 450.5075390638202
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 7bb5c37b-d2f8-4dac-a018-2e3de8474b65
          role: system
          text: 请你根据{{#1774322022795.output#}}写一段话如果出现和{{#1773546607180.input_text#}}{{#sys.files#}}不符合的，以{{#sys.files#}}{{#1773546607180.input_text#}}为准
        reasoning_format: tagged
        selected: false
        structured_output_enabled: false
        title: LLM 8
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773853978087'
      position:
        x: 3654.0661358569373
        y: 456.8571428571428
      positionAbsolute:
        x: 3654.0661358569373
        y: 456.8571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1773824440593'
          - text
          value_type: string
          variable: print
        selected: false
        title: 输出 2
        type: end
      height: 87
      id: '1773890669187'
      position:
        x: 4975
        y: 693
      positionAbsolute:
        x: 4975
        y: 693
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1773824440593'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出 2
        type: end
      height: 87
      id: '1773909052053'
      position:
        x: 4975
        y: 526
      positionAbsolute:
        x: 4975
        y: 526
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: aec12af1-a130-40f4-b9ca-456275f04d39
          role: system
          text: '你是一个音频意图分析助手。请分析用户上传的音频：

            如果音频是杂音、或与文字无关的装饰性音频，必须仅输出：useless。

            如果音频包含具体信息（如：相机/镜头照片、报错截图、文档、摄影作品），请将音频转为文字，

            如果用户没有上传图片，请输出：no_voice。

            注意： 严禁任何多余的开场白，直接输出结果。如果判定有用，请务必输出详细原因，严禁只输出 OK 或空回复。'
        selected: false
        title: LLM 2 (1)
        type: llm
        vision:
          enabled: false
      height: 87
      id: '17739692604690'
      position:
        x: 1141.7395680828397
        y: 315.59016132305777
      positionAbsolute:
        x: 1141.7395680828397
        y: 315.59016132305777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: bb291c14-7310-42a6-84a4-d6c8e124a136
            value: useless
            varType: string
            variable_selector:
            - '17739692604690'
            - text
          id: 'true'
          logical_operator: or
        selected: false
        title: 条件分支 (1)
        type: if-else
      height: 123
      id: '17739692604691'
      position:
        x: 1425
        y: 343
      positionAbsolute:
        x: 1425
        y: 343
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: aec12af1-a130-40f4-b9ca-456275f04d39
          role: system
          text: '你是一个视频意图分析助手。请分析用户上传的视频：

            如果视频是表情包、纯色情视频、模糊不清的废视频、或与文字无关的装饰性视频，必须仅输出：useless。

            如果图片包含具体信息（如：相机/镜头照片、报错截图、文档、摄影作品），请简要描述视频内容，

            如果用户没有上传视频，请输出：no_video。

            注意： 严禁任何多余的开场白，直接输出结果。如果判定有用，请务必输出详细原因，严禁只输出 OK 或空回复。'
        selected: false
        title: LLM 2 (3)
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '1773998211626'
            - result
          enabled: true
      height: 87
      id: '17739692973670'
      position:
        x: 1141.7395680828397
        y: 478.8571428571428
      positionAbsolute:
        x: 1141.7395680828397
        y: 478.8571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: bb291c14-7310-42a6-84a4-d6c8e124a136
            value: useless
            varType: string
            variable_selector:
            - '17739692973670'
            - text
          id: 'true'
          logical_operator: or
        selected: false
        title: 条件分支 (2)
        type: if-else
      height: 123
      id: '17739693114650'
      position:
        x: 1425
        y: 546
      positionAbsolute:
        x: 1425
        y: 546
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: b6fcf4c6-cc8e-44c4-8b9e-0b0d966ad685
            value: ''
            varType: string
            variable_selector:
            - '1773546607180'
            - input_text
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 7
        type: if-else
      height: 123
      id: '1773996128752'
      position:
        x: 241.18259442781687
        y: 122.95712715133618
      positionAbsolute:
        x: 241.18259442781687
        y: 122.95712715133618
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - image
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: name
          value: asc
        selected: false
        title: 列表操作
        type: list-operator
        var_type: array[file]
        variable:
        - '1773546607180'
        - file1
      height: 91
      id: '1773997963335'
      position:
        x: 573.0732424649353
        y: 96.01517369768777
      positionAbsolute:
        x: 573.0732424649353
        y: 96.01517369768777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - audio
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: 列表操作 2
        type: list-operator
        var_type: array[file]
        variable:
        - '1773546607180'
        - file1
      height: 91
      id: '1773998203259'
      position:
        x: 573.0732424649353
        y: 247.08707732171433
      positionAbsolute:
        x: 573.0732424649353
        y: 247.08707732171433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - video
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: 列表操作 3
        type: list-operator
        var_type: array[file]
        variable:
        - '1773546607180'
        - file1
      height: 91
      id: '1773998211626'
      position:
        x: 557.1529972423249
        y: 372.87231655483055
      positionAbsolute:
        x: 557.1529972423249
        y: 372.87231655483055
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - document
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: 列表操作 4
        type: list-operator
        var_type: array[file]
        variable:
        - '1773546607180'
        - file1
      height: 91
      id: '1773998216130'
      position:
        x: 557.1529972423249
        y: 478.8571428571428
      positionAbsolute:
        x: 557.1529972423249
        y: 478.8571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: feda5319-f954-487f-945c-320cef1785e2
            value: ''
            varType: array[file]
            variable_selector:
            - '1773997963335'
            - result
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 8
        type: if-else
      height: 123
      id: '1774113516320'
      position:
        x: 837.7690782147283
        y: 96.01517369768777
      positionAbsolute:
        x: 837.7690782147283
        y: 96.01517369768777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 23a2d9b1-e5f8-4f88-a7d7-3c3664e2482c
            value: ''
            varType: array[file]
            variable_selector:
            - '1773998203259'
            - result
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 9
        type: if-else
      height: 123
      id: '1774113573044'
      position:
        x: 837.7690782147283
        y: 247.08707732171433
      positionAbsolute:
        x: 837.7690782147283
        y: 247.08707732171433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 9c354de8-f412-4a56-b175-04650b439da1
            value: ''
            varType: array[file]
            variable_selector:
            - '1773998211626'
            - result
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 10
        type: if-else
      height: 123
      id: '1774113575292'
      position:
        x: 844.3297722349914
        y: 372.87231655483055
      positionAbsolute:
        x: 844.3297722349914
        y: 372.87231655483055
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: c5854d22-fcd8-4ffd-9690-7ccff3897824
            value: ''
            varType: array[file]
            variable_selector:
            - '1773998216130'
            - result
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 11
        type: if-else
      height: 123
      id: '1774113577668'
      position:
        x: 837.7690782147283
        y: 509.40986290349707
      positionAbsolute:
        x: 837.7690782147283
        y: 509.40986290349707
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_array_file: true
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - '1773998216130'
        - result
      height: 103
      id: '1774196239528'
      position:
        x: 1076.9452695576276
        y: 669
      positionAbsolute:
        x: 1076.9452695576276
        y: 669
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774196239528'
          - text
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: d9fb7371-cd5b-4a91-8f85-0b2911664d4a
          role: system
          text: 对输入的文本{{#1774196239528.text#}}进行精简，只进行摘要
        selected: false
        title: LLM 13
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774197621044'
      position:
        x: 1440.90474656777
        y: 731.096037004384
      positionAbsolute:
        x: 1440.90474656777
        y: 731.096037004384
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 7d86f04b-74e2-4e19-8514-d3c0c65758c8
          role: system
          text: 根据{{#1773826070652.output#}}写一段文字
        selected: false
        title: LLM 12
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774199089088'
      position:
        x: 2863.285714285714
        y: 604.8571428571428
      positionAbsolute:
        x: 2863.285714285714
        y: 604.8571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-168
            key: ''
            type: text
            value: '{

              "blob_type":"chat","blob_data":{"messages":[{"role":"user","content":"{{#sys.user_id#}}{{#sys.query#}}"}]

              }}'
          type: json
        headers: 'Authorization:api

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: https://api.dify.ai/v1/datasets/{dataset_id}/documents
        variables: []
      height: 136
      id: '1774250548194'
      position:
        x: 241.18259442781687
        y: 860.9022713553966
      positionAbsolute:
        x: 241.18259442781687
        y: 860.9022713553966
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 34ff1ef2-c920-4b69-8b42-2c96cd722d4c
          role: system
          text: '根据{{#1773826070652.output#}}提取关键字

            注意： 严禁任何多余的开场白，直接输出结果。不知道怎么精简就直接原话输出'
        - id: c18df276-1804-4133-929a-dda227017a97
          role: user
          text: 请根据上下文提取关键字
        selected: false
        title: LLM 13
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774251512057'
      position:
        x: 2146.5881515521314
        y: 860.9022713553966
      positionAbsolute:
        x: 2146.5881515521314
        y: 860.9022713553966
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - dxNTUTyNrMXxNHczjkYEIoXDDwgnVg50WR04Ajerule5QkqjAcAg5r1GeGG3x7Sb
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774251512057'
        - text
        retrieval_mode: multiple
        selected: true
        title: 知识检索
        type: knowledge-retrieval
      height: 89
      id: '1774253957657'
      position:
        x: 2468
        y: 816.5828037833924
      positionAbsolute:
        x: 2468
        y: 816.5828037833924
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - PmJMkOam/wMbIzcWUnJya9txIOOENCbwfnW0ygBA93CewyNFkMpehM29zGI9Ya6f
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774251512057'
        - text
        retrieval_mode: multiple
        selected: false
        title: 知识检索 2
        type: knowledge-retrieval
      height: 89
      id: '1774253964952'
      position:
        x: 2468
        y: 942.5828037833924
      positionAbsolute:
        x: 2468
        y: 942.5828037833924
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 83e6b77a-eca5-4a6b-92d9-7172941a7bd9
          role: system
          text: '对信息进行精简，如果没有就标记没有

            注意： 严禁任何多余的开场白，直接输出结果。'
        - id: 2eb11321-6fc7-4112-9aa7-d73147e21f1d
          role: user
          text: 对信息进行精简如果没有就标记没有
        selected: false
        title: 输入记忆
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774254739188'
      position:
        x: 2769
        y: 942.5828037833924
      positionAbsolute:
        x: 2769
        y: 942.5828037833924
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 1e02be03-f9df-4225-a36d-a884583d3310
          role: system
          text: '对信息进行精简如果没有就标记没有

            注意： 严禁任何多余的开场白，直接输出结果。'
        - id: 28a8a96a-4e69-406a-9e81-c53f9f04f1c5
          role: user
          text: 对信息进行精简如果没有就标记没有
        selected: false
        title: 输出记忆
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774254749737'
      position:
        x: 2769
        y: 816.5828037833924
      positionAbsolute:
        x: 2769
        y: 816.5828037833924
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-175
            key: ''
            type: text
            value: '{

              "blob_type":"chat","blob_data":{"messages":[{"role":"user","content":"{{#sys.user_id#}}{{#1773824440593.text#}}"}]

              }}'
          type: json
        headers: 'Authorization:api

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 2
        type: http-request
        url: https://api.dify.ai/v1/datasets/{dataset_id}/documents
        variables: []
      height: 136
      id: '1774320362610'
      position:
        x: 4975
        y: 1080.2716601327206
      positionAbsolute:
        x: 4975
        y: 1080.2716601327206
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "{% if in %}【输入记忆 (IN)】: {{ in }}{% endif %}\r\n{% if out %}【输出记忆\
          \ (OUT)】: {{ out }}{% endif %}\r\n\r\n{# 如果你想强行指定某个必选标记，可以直接写在外面 #}\r\n\
          ---\r\nKMMS_AGGREGATOR_STATUS: COMPLETED"
        title: 模板转换 3
        type: template-transform
        variables:
        - value_selector:
          - '1774254739188'
          - text
          value_type: string
          variable: in
        - value_selector:
          - '1774254749737'
          - text
          value_type: string
          variable: out
      height: 51
      id: '1774321330756'
      position:
        x: 3209.3566336776103
        y: 718.7592700687727
      positionAbsolute:
        x: 3209.3566336776103
        y: 718.7592700687727
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: af7b0972-c1e5-435a-91a4-df37a2c13c8a
          role: system
          text: '分析用户的状态，若没有则输出没有

            注意： 严禁任何多余的开场白，直接输出结果。'
        - id: ed5fcfbf-fa94-47f6-8638-dc077da22919
          role: user
          text: 分析用户的状态，若没有则输出没有
        selected: false
        title: LLM 17
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774321979236'
      position:
        x: 3301.663125327536
        y: 1037.3450066283845
      positionAbsolute:
        x: 3301.663125327536
        y: 1037.3450066283845
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: '{{ arg1 or text or text1 or text2 or text3 or text4 or text5 }}'
        title: 模板转换 4
        type: template-transform
        variables:
        - value_selector:
          - '1773853966400'
          - output
          value_type: string
          variable: text1
        - value_selector:
          - '1774321330756'
          - output
          value_type: string
          variable: text2
      height: 51
      id: '1774322022795'
      position:
        x: 3427.183828543654
        y: 592.8424963981315
      positionAbsolute:
        x: 3427.183828543654
        y: 592.8424963981315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -1238.139491828134
      y: -266.0929527546476
      zoom: 0.7348673021117865
  rag_pipeline_variables: []
