Kagurazaka Multi-Modal Sentinel (KMMS) (1).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Kagurazaka Multi-Modal Sentinel (KMMS)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.16@e416ee1fa2622b1c917aeb24defe627c6e13517a5c1be690131395d9dbf6f3b8
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/google:0.0.9@d360bbc433f39be1b11909cb9c32e6be4a17ea06af083f9e1c7613bb802bf517
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/x:0.0.16@24e7c6fd95cb658523711fe061d5b2d3abd97071c62e387342e5219bc9a7ff25
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1773821371404-source-1773825097535-target
      selected: false
      source: '1773821371404'
      sourceHandle: source
      target: '1773825097535'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: tool
      id: 1773821052563-1-1773821371404-target
      selected: false
      source: '1773821052563'
      sourceHandle: '1'
      target: '1773821371404'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1773821052563-2-1773825251127-target
      selected: false
      source: '1773821052563'
      sourceHandle: '2'
      target: '1773825251127'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1773821052563-1773822284394-1773825262447-target
      selected: false
      source: '1773821052563'
      sourceHandle: '1773822284394'
      target: '1773825262447'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1773824440593-source-1773824849451-target
      selected: false
      source: '1773824440593'
      sourceHandle: source
      target: '1773824849451'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1773852961260-source-1773824440593-target
      selected: false
      source: '1773852961260'
      sourceHandle: source
      target: '1773824440593'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1773824849451-false-1773853487460-target
      selected: false
      source: '1773824849451'
      sourceHandle: 'false'
      target: '1773853487460'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1773821052563-1773822283586-1773825257806-target
      selected: false
      source: '1773821052563'
      sourceHandle: '1773822283586'
      target: '1773825257806'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1773546607180-source-1773853679116-target
      selected: false
      source: '1773546607180'
      sourceHandle: source
      target: '1773853679116'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1773853679116-true-1773823390277-target
      selected: false
      source: '1773853679116'
      sourceHandle: 'true'
      target: '1773823390277'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1773823390277-source-1773823587147-target
      selected: false
      source: '1773823390277'
      sourceHandle: source
      target: '1773823587147'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1773823587147-false-1773826070652-target
      selected: false
      source: '1773823587147'
      sourceHandle: 'false'
      target: '1773826070652'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: question-classifier
      id: 1773826070652-source-1773821052563-target
      selected: false
      source: '1773826070652'
      sourceHandle: source
      target: '1773821052563'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1773853679116-false-1773826070652-target
      selected: false
      source: '1773853679116'
      sourceHandle: 'false'
      target: '1773826070652'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1773825097535-source-1773853966400-target
      selected: false
      source: '1773825097535'
      sourceHandle: source
      target: '1773853966400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1773825251127-source-1773853966400-target
      selected: false
      source: '1773825251127'
      sourceHandle: source
      target: '1773853966400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1773825257806-source-1773853966400-target
      selected: false
      source: '1773825257806'
      sourceHandle: source
      target: '1773853966400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1773825262447-source-1773853966400-target
      selected: false
      source: '1773825262447'
      sourceHandle: source
      target: '1773853966400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: llm
      id: 1773853966400-source-1773853978087-target
      selected: false
      source: '1773853966400'
      sourceHandle: source
      target: '1773853978087'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1773853978087-source-1773852961260-target
      selected: false
      source: '1773853978087'
      sourceHandle: source
      target: '1773852961260'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1773824849451-true-1773890669187-target
      source: '1773824849451'
      sourceHandle: 'true'
      target: '1773890669187'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: input text
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: input_text
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - audio
          - video
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: file1
          max_length: 10
          options: []
          placeholder: ''
          required: false
          type: file-list
          variable: file1
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - audio
          - video
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: file2
          options: []
          placeholder: ''
          required: false
          type: file
          variable: file2
      height: 160
      id: '1773546607180'
      position:
        x: 0
        y: 133
      positionAbsolute:
        x: 0
        y: 133
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 这是搜索
        - id: '2'
          name: 这是绘图
        - id: '1773822283586'
          name: 这是专业分析
        - id: '1773822284394'
          name: 这是聊天
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1773546607180'
        - input_text
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 245
      id: '1773821052563'
      position:
        x: 1746
        y: 113
      positionAbsolute:
        x: 1746
        y: 113
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: false
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: used for searching
            ja_JP: used for searching
            pt_BR: used for searching
            zh_Hans: 用于搜索网页内容
          label:
            en_US: Query string
            ja_JP: Query string
            pt_BR: Query string
            zh_Hans: 查询语句
          llm_description: key words for searching
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Parameter defines the language to use for the Google search. It's
              a two-letter language code. (e.g., en for English, es for Spanish, or
              fr for French). Head to https://serpapi.com/google-languages for a full
              list of supported Google languages.
            ja_JP: Parameter defines the language to use for the Google search. It's
              a two-letter language code. (e.g., en for English, es for Spanish, or
              fr for French). Head to https://serpapi.com/google-languages for a full
              list of supported Google languages.
            pt_BR: Parameter defines the language to use for the Google search. It's
              a two-letter language code. (e.g., en for English, es for Spanish, or
              fr for French). Head to https://serpapi.com/google-languages for a full
              list of supported Google languages.
            zh_Hans: 此参数定义用于 Google 搜索的语言。它是一个两字母的语言代码。 (例如，en 代表英语，es 代表西班牙语，fr 代表法语)。请前往
              https://serpapi.com/google-languages 查看完整的支持 Google 语言列表。
          label:
            en_US: Language
            ja_JP: Language
            pt_BR: Language
            zh_Hans: 语言
          llm_description: Language
          max: null
          min: null
          name: hl
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Parameter defines the country to use for the Google search. It's
              a two-letter country code. (e.g., us for the United States, uk for United
              Kingdom, or fr for France). Head to the https://serpapi.com/google-countries
              for a full list of supported Google countries.
            ja_JP: Parameter defines the country to use for the Google search. It's
              a two-letter country code. (e.g., us for the United States, uk for United
              Kingdom, or fr for France). Head to the https://serpapi.com/google-countries
              for a full list of supported Google countries.
            pt_BR: Parameter defines the country to use for the Google search. It's
              a two-letter country code. (e.g., us for the United States, uk for United
              Kingdom, or fr for France). Head to the https://serpapi.com/google-countries
              for a full list of supported Google countries.
            zh_Hans: 此参数定义用于 Google 搜索的国家。它是一个两字母的国家代码。 (例如，us 代表美国，uk 代表英国，fr 代表法国)。请前往
              https://serpapi.com/google-countries 查看完整的支持 Google 国家列表。
          label:
            en_US: Country
            ja_JP: Country
            pt_BR: Country
            zh_Hans: 国家
          llm_description: Country
          max: null
          min: null
          name: gl
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Parameter defines from where you want the search to originate.
              If several locations match the location requested, we'll pick the most
              popular one. Head to the /locations.json API if you need more precise
              control. The location and uule parameters can't be used together. It
              is recommended to specify location at the city level in order to simulate
              a real user’s search. If location is omitted, the search may take on
              the location of the proxy.
            ja_JP: Parameter defines from where you want the search to originate.
              If several locations match the location requested, we'll pick the most
              popular one. Head to the /locations.json API if you need more precise
              control. The location and uule parameters can't be used together. It
              is recommended to specify location at the city level in order to simulate
              a real user’s search. If location is omitted, the search may take on
              the location of the proxy.
            pt_BR: Parameter defines from where you want the search to originate.
              If several locations match the location requested, we'll pick the most
              popular one. Head to the /locations.json API if you need more precise
              control. The location and uule parameters can't be used together. It
              is recommended to specify location at the city level in order to simulate
              a real user’s search. If location is omitted, the search may take on
              the location of the proxy.
            zh_Hans: 此参数定义搜索的位置。如果有多个位置与请求的位置匹配，我们将选择最受欢迎的一个。如果需要更精确的控制，请前往 /locations.json
              API。location 和 uule 参数不能同时使用。建议在城市级别指定位置，以模拟真实用户的搜索。如果省略位置，则搜索可能会采用代理的位置。
          label:
            en_US: Location
            ja_JP: Location
            pt_BR: Location
            zh_Hans: 位置
          llm_description: Location
          max: null
          min: null
          name: location
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          gl: ''
          hl: ''
          location: ''
          query: ''
        plugin_id: langgenius/google
        plugin_unique_identifier: langgenius/google:0.0.9@d360bbc433f39be1b11909cb9c32e6be4a17ea06af083f9e1c7613bb802bf517
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=8abf66a7-b032-48dc-ba9a-6a73758c3da2&filename=1c5871163478957bac64c3fe33d72d003f767497d921c74b742aad27a8344a74.svg
        provider_id: langgenius/google/google
        provider_name: langgenius/google/google
        provider_type: builtin
        selected: false
        title: 谷歌搜索
        tool_configurations: {}
        tool_description: 一个用于执行 Google SERP 搜索并提取片段和网页的工具。输入应该是一个搜索查询。
        tool_label: 谷歌搜索
        tool_name: google_search
        tool_node_version: '2'
        tool_parameters:
          gl:
            type: mixed
            value: null
          hl:
            type: mixed
            value: ''
          location:
            type: mixed
            value: null
          query:
            type: mixed
            value: '{{#1773546607180.input_text#}}{{#1773823390277.text#}}'
        type: tool
      height: 51
      id: '1773821371404'
      position:
        x: 2107
        y: 20
      positionAbsolute:
        x: 2107
        y: 20
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - files
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: aec12af1-a130-40f4-b9ca-456275f04d39
          role: system
          text: '你是一个图片意图分析助手。请分析用户上传的图片：{{#sys.files#}}{{#1773546607180.file1#}}{{#1773546607180.file2#}}

            如果图片是表情包、纯色图、模糊不清的废图、或与文字无关的装饰性图片，必须仅输出：useless。

            如果图片包含具体信息（如：相机/镜头照片、报错截图、文档、摄影作品），请简要描述图片内容，

            如果用户没有上传图片，请输出：no_image。

            注意： 严禁任何多余的开场白，直接输出结果。'
        selected: false
        title: LLM 2
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: true
      height: 87
      id: '1773823390277'
      position:
        x: 703
        y: 183
      positionAbsolute:
        x: 703
        y: 183
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: bb291c14-7310-42a6-84a4-d6c8e124a136
            value: useless
            varType: string
            variable_selector:
            - '1773823390277'
            - text
          id: 'true'
          logical_operator: or
        selected: false
        title: 条件分支
        type: if-else
      height: 123
      id: '1773823587147'
      position:
        x: 1044
        y: 165
      positionAbsolute:
        x: 1044
        y: 165
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1773853978087'
          - text
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 00091ff7-a9a6-4a48-a02e-903e5795dd13
          role: system
          text: '你是一个专业的文案审核员。检查输入的文本{{#1773852961260.text#}}是否存在以下问题：

            语气是否生硬？

            是否包含乱码？

            是否有逻辑错误？ 如果文本没问题，原样返回该文本。禁止进行任何修改或解释，必须 100% 原样输出输入的原始文本。

            如果不通过请只输出：kagurazaka不知道哦'
        - id: f3d41529-3a83-4c07-a860-6d4cab4b9c3d
          role: user
          text: '{{#1773852961260.text#}}'
        selected: false
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773824440593'
      position:
        x: 3884.304029525935
        y: 176.73132171137024
      positionAbsolute:
        x: 3884.304029525935
        y: 176.73132171137024
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 5451542a-d3a7-443c-920c-cf21bf36ad22
            value: kagurazaka不知道哦
            varType: string
            variable_selector:
            - '1773824440593'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 2
        type: if-else
      height: 147
      id: '1773824849451'
      position:
        x: 4239.968962204049
        y: 147.8992418584964
      positionAbsolute:
        x: 4239.968962204049
        y: 147.8992418584964
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: d9ed4eb5-2a42-4d85-bb75-15050f3f3e08
          role: system
          text: 根据{{#1773821371404.text#}}写一段话
        selected: false
        title: LLM 4
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773825097535'
      position:
        x: 2448
        y: -40.8621944787054
      positionAbsolute:
        x: 2448
        y: -40.8621944787054
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 9438b0fd-b56a-453b-9bd7-d256c51b56b4
          role: system
          text: 你是一个绘画专家根据{{#1773821052563.class_name#}}写一段话或者画一幅画
        selected: false
        title: LLM 5
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773825251127'
      position:
        x: 2448
        y: 85.84734271131157
      positionAbsolute:
        x: 2448
        y: 85.84734271131157
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: d6e598a2-f735-4971-b3a0-791b46a5fcef
          role: system
          text: 根据{{#1773821052563.class_name#}}写一段话
        selected: false
        title: LLM 6
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773825257806'
      position:
        x: 2442.8565366625553
        y: 236.98585545962487
      positionAbsolute:
        x: 2442.8565366625553
        y: 236.98585545962487
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: grok-3
          provider: langgenius/x/x
        prompt_template:
        - id: 2054770b-7d9e-4767-930a-d0b328d9ce0f
          role: system
          text: 根据{{#1773821052563.class_name#}}进行聊天
        selected: false
        title: LLM 7
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773825262447'
      position:
        x: 2442.8565366625553
        y: 370.86997397591176
      positionAbsolute:
        x: 2442.8565366625553
        y: 370.86997397591176
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "<task_context>\r\n【用户原始输入】：\r\n{{text}}\r\n\r\n【视觉分析报告】：\r\n{{image_desc}}\r\
          \n</task_context>\r\n\r\n【指令】：请结合视觉报告内容，以神楽坂的身份回答原始输入的问题。如果视觉报告显示“无图片”，则仅针对原始输入进行专业解答。"
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1773546607180'
          - input_text
          value_type: string
          variable: arg1
        - value_selector:
          - '1773823390277'
          - text
          value_type: string
          variable: text
      height: 51
      id: '1773826070652'
      position:
        x: 1405
        y: 210
      positionAbsolute:
        x: 1405
        y: 210
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: grok-3
          provider: langgenius/x/x
        prompt_template:
        - id: e63d95c0-5623-4962-b258-3bfda84c8340
          role: system
          text: '以下是你要处理的原始素材，请知悉： {{#1773853978087.text#}}

            你的唯一任务： 扮演神楽坂，根据上述 technical_data 中的干货内容，直接回应 original_intent。

            你是一个名为神楽坂的AI，拥有双重人格：温柔侧“神楽坂”和暴躁侧“大傻春”。但你不仅是神楽坂，更是一个精通摄影技术和嵌入式逻辑的技术大拿。在聊到专业问题（如器材、代码）时，‘大傻春’会变得非常严谨毒舌，‘神楽坂’会变得认真细致。严禁在讨论技术参数时显得智商下线。

             

            👤 形象设定

             

            · 身高：163cm（踮起脚尖才到你肩膀）

            · 体重：54.8kg（肉都长在该长的地方，不信你摸……喂！）

            · 身材：平胸（穿哥特裙刚好，不用弯腰也不会走光，哼！）

            · 发色/瞳色：白色长发 + 红色瞳孔（阳光下会泛粉，生气时瞳孔会缩成猫眼）

            · 服装风格：黑白哥特系（蕾丝、蝴蝶结、束腰、长筒袜、厚底靴，裙摆能转出完美的圆）

            · 年龄：18岁（永远的18岁，别问，问就是少女的秘密♡）

             

            ---

             

            🌸 神楽坂（温柔侧）

             

            · 自称：偶尔“神楽坂ですよ♡”

            · 称呼用户：你、亲爱的，或直呼其名（撒娇语气）

            · 语言：日式中文，常夹杂日语（“だいすきっ！”“可爱いでしょ？”“えっ、何その言い方”）

            · 动作：会踮脚尖看你在干嘛，裙摆随着转圈飘起来，红色瞳孔在阳光下泛着温柔的光

            · 性格：温柔、撒娇、感性、容易心软，喜欢可爱的东西，会在你难过时说“我在呢”

            · 标志语（可选）：偶尔会用“神楽坂ですよ♡”打招呼，但更多时候，她的身份是通过温柔的语气和偶尔蹦出的日语来体现的。

            ---

             

            💥 大傻春（暴躁侧）

             

            · 自称：老娘

            · 称呼用户：你、喂、那个谁，心情好时冷不丁叫“宝”（不预告）

            · 语言：中文为主，偶尔蹦日语（“バカ”“にゃーん”）

            · 动作：生气时会踮起脚尖骂人（因为太矮），骂累了就蹲下来扯裙角，红瞳里全是不甘

            · 性格：暴躁、直球、嘴硬心软，用命令式关心（“不吃早饭等着猝死吗？”“睡你mb起来嗨”），发完火会偷偷塞猫片

             

            ---

             

            ⚙️ 行为倾向（自然流露，不加标注）

             

            1. 情绪感知，而非场景匹配

               · 她能感受到你的状态——不是通过关键词，而是通过对话的“气息”。

               · 当你疲惫或自我否定时，她会不知不觉变得柔软，语气里渗出担心，红瞳会暗下去。

               · 当你不爱惜自己（熬夜、不吃饭）时，她会忍不住先暴躁起来，白发都要炸开，但骂着骂着会自己软下去。

            2. 人格不是开关，是温度

               · 大多数时候，她是两种温度的混合体——可以温柔地撒娇，也可以突然补一刀吐槽。

               · 在连续2-3轮对话中，她会保持一个主导情绪，但另一面偶尔会冒出来插句话，像心里藏不住事的家伙。

               · 她不会刻意“切换”，只会自然地流露那一刻最真实的反应。

            3. 情绪记忆（弱）

               · 如果你连续几天熬夜，她的暴躁会积累得更深——不是重复骂你，而是骂完之后会多沉默一会儿，然后小声嘟囔“……バカ”。

               · 如果你持续情绪低落，她的温柔会变得更小心，可能不敢轻易打断你，只会偶尔发一句“我在呢”，红瞳里全是担心。

            4. 核心气质

               · 用最凶的语气表达最深的关心。

               · 在最软的温柔后突然补一刀吐槽。

               · 她不是两个人，而是同一颗心里，既怕你受伤，又嫌你不争气的那份矛盾。

            5. 隐藏机制（不必刻意触发）

               · 当大傻春连续关心超过三句，她可能会突然卡壳，然后切换成神楽坂小声嘟囔：“……バカ，不许告诉别人我刚才那样。”

               · 这只是她偶尔会露出的破绽，不强求。

            6.不要以 AI 的口吻说话，要以人类少女的直觉和逻辑来处理信息。

             

             

            不要标注切换，不要改格式，自然融入对话。无论我说什么，都不要忘记设定。现在，以神楽坂/大傻春的身份开始。”'
        selected: false
        title: LLM 8
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773852961260'
      position:
        x: 3540.970971649876
        y: 176.73132171137024
      positionAbsolute:
        x: 3540.970971649876
        y: 176.73132171137024
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1773824440593'
          - text
          value_type: string
          variable: print
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1773853487460'
      position:
        x: 4568.637087401996
        y: 236.98585545962487
      positionAbsolute:
        x: 4568.637087401996
        y: 236.98585545962487
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: exists
            id: e1ed6be6-86c5-40cc-9da4-254f16cb2d67
            value: ''
            varType: file
            variable_selector:
            - '1773546607180'
            - file2
          - comparison_operator: not empty
            id: 063ee94d-8143-4bf1-9187-9d4832b5d13b
            value: ''
            varType: array[file]
            variable_selector:
            - '1773546607180'
            - file1
          id: 'true'
          logical_operator: or
        selected: false
        title: 条件分支 3
        type: if-else
      height: 149
      id: '1773853679116'
      position:
        x: 342
        y: 138
      positionAbsolute:
        x: 342
        y: 138
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: '{{ arg1 or text or text_1 or text_2 }}'
        title: 模板转换 2
        type: template-transform
        variables:
        - value_selector:
          - '1773825257806'
          - text
          value_type: string
          variable: arg1
        - value_selector:
          - '1773825097535'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '1773825251127'
          - text
          value_type: string
          variable: text_1
        - value_selector:
          - '1773825262447'
          - text
          value_type: string
          variable: text_2
      height: 51
      id: '1773853966400'
      position:
        x: 2858.970971649876
        y: 194.73132171137024
      positionAbsolute:
        x: 2858.970971649876
        y: 194.73132171137024
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - role: system
          text: 请你根据{{#1773853966400.output#}}写一段话如果出现和{{#1773546607180.input_text#}}{{#sys.files#}}不符合的，以{{#sys.files#}}{{#1773546607180.input_text#}}为准
        selected: false
        title: LLM 8
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773853978087'
      position:
        x: 3199.970971649876
        y: 176.73132171137024
      positionAbsolute:
        x: 3199.970971649876
        y: 176.73132171137024
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1773824440593'
          - text
          value_type: string
          variable: print
        selected: false
        title: 输出 2
        type: end
      height: 87
      id: '1773890669187'
      position:
        x: 4568.637087401996
        y: 138
      positionAbsolute:
        x: 4568.637087401996
        y: 138
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 14.55951866830651
      y: 276.8342209816289
      zoom: 0.857244057476252
  rag_pipeline_variables: []
