KMMS.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Kagurazaka Multi-Modal Service (KMMS)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.20@de0063a630a6d1b2c025fb84f3462ba5151fb60618309cd595c3f4711b1df847
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/google:0.0.9@d360bbc433f39be1b11909cb9c32e6be4a17ea06af083f9e1c7613bb802bf517
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.4@3345b596ee5117d9304097feaee866f05ffaf0d76a790fb07acd8b99f6c87cb3
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/x:0.0.17@ddc2e2f0bb86581516bbd04ea0047d8079066866aed87f6e54acd2e9054950c4
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1773824440593-source-1773824849451-target
      selected: false
      source: '1773824440593'
      sourceHandle: source
      target: '1773824849451'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1773546607180-source-1773853679116-target
      selected: false
      source: '1773546607180'
      sourceHandle: source
      target: '1773853679116'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1773823390277-source-1773823587147-target
      selected: false
      source: '1773823390277'
      sourceHandle: source
      target: '1773823587147'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1773824849451-true-1773909052053-target
      selected: false
      source: '1773824849451'
      sourceHandle: 'true'
      target: '1773909052053'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1773824849451-false-1773890669187-target
      selected: false
      source: '1773824849451'
      sourceHandle: 'false'
      target: '1773890669187'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 17739692604690-source-17739692604691-target
      selected: false
      source: '17739692604690'
      sourceHandle: source
      target: '17739692604691'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 17739692973670-source-17739693114650-target
      selected: false
      source: '17739692973670'
      sourceHandle: source
      target: '17739693114650'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1773546607180-source-1773996128752-target
      selected: false
      source: '1773546607180'
      sourceHandle: source
      target: '1773996128752'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: list-operator
      id: 1773853679116-true-1773997963335-target
      selected: false
      source: '1773853679116'
      sourceHandle: 'true'
      target: '1773997963335'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: list-operator
      id: 1773853679116-true-1773998203259-target
      selected: false
      source: '1773853679116'
      sourceHandle: 'true'
      target: '1773998203259'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: list-operator
      id: 1773853679116-true-1773998211626-target
      selected: false
      source: '1773853679116'
      sourceHandle: 'true'
      target: '1773998211626'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: list-operator
      id: 1773853679116-true-1773998216130-target
      selected: false
      source: '1773853679116'
      sourceHandle: 'true'
      target: '1773998216130'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: list-operator
        targetType: if-else
      id: 1773997963335-source-1774113516320-target
      selected: false
      source: '1773997963335'
      sourceHandle: source
      target: '1774113516320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774113516320-false-1773823390277-target
      selected: false
      source: '1774113516320'
      sourceHandle: 'false'
      target: '1773823390277'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: list-operator
        targetType: if-else
      id: 1773998203259-source-1774113573044-target
      selected: false
      source: '1773998203259'
      sourceHandle: source
      target: '1774113573044'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: list-operator
        targetType: if-else
      id: 1773998211626-source-1774113575292-target
      selected: false
      source: '1773998211626'
      sourceHandle: source
      target: '1774113575292'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: list-operator
        targetType: if-else
      id: 1773998216130-source-1774113577668-target
      selected: false
      source: '1773998216130'
      sourceHandle: source
      target: '1774113577668'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774113573044-false-17739692604690-target
      selected: false
      source: '1774113573044'
      sourceHandle: 'false'
      target: '17739692604690'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774113575292-false-17739692973670-target
      selected: false
      source: '1774113575292'
      sourceHandle: 'false'
      target: '17739692973670'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1773853978087-source-1773852961260-target
      selected: false
      source: '1773853978087'
      sourceHandle: source
      target: '1773852961260'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1773852961260-source-1773824440593-target
      selected: false
      source: '1773852961260'
      sourceHandle: source
      target: '1773824440593'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: document-extractor
      id: 1774113577668-false-1774196239528-target
      selected: false
      source: '1774113577668'
      sourceHandle: 'false'
      target: '1774196239528'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1774196239528-source-1774197621044-target
      selected: false
      source: '1774196239528'
      sourceHandle: source
      target: '1774197621044'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1774251512057-source-1774253957657-target
      selected: false
      source: '1774251512057'
      sourceHandle: source
      target: '1774253957657'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774253964952-source-1774254739188-target
      selected: false
      source: '1774253964952'
      sourceHandle: source
      target: '1774254739188'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774253957657-source-1774254749737-target
      selected: false
      source: '1774253957657'
      sourceHandle: source
      target: '1774254749737'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1773824849451-false-1774320362610-target
      selected: false
      source: '1773824849451'
      sourceHandle: 'false'
      target: '1774320362610'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1774254739188-source-1774321979236-target
      selected: false
      source: '1774254739188'
      sourceHandle: source
      target: '1774321979236'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1774321979236-source-1773852961260-target
      selected: false
      source: '1774321979236'
      sourceHandle: source
      target: '1773852961260'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1774251512057-source-1774253964952-target
      selected: false
      source: '1774251512057'
      sourceHandle: source
      target: '1774253964952'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: variable-aggregator
      id: 1773823587147-false-1775195494118-target
      source: '1773823587147'
      sourceHandle: 'false'
      target: '1775195494118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: variable-aggregator
      id: 1773996128752-true-1775195494118-target
      source: '1773996128752'
      sourceHandle: 'true'
      target: '1775195494118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: variable-aggregator
      id: 1773853679116-false-1775195494118-target
      source: '1773853679116'
      sourceHandle: 'false'
      target: '1775195494118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: variable-aggregator
      id: 17739692604691-false-1775195494118-target
      source: '17739692604691'
      sourceHandle: 'false'
      target: '1775195494118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: variable-aggregator
      id: 17739693114650-false-1775195494118-target
      source: '17739693114650'
      sourceHandle: 'false'
      target: '1775195494118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1774197621044-source-1775195494118-target
      source: '1774197621044'
      sourceHandle: source
      target: '1775195494118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1775195494118-source-1774251512057-target
      source: '1775195494118'
      sourceHandle: source
      target: '1774251512057'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1774254739188-source-1775195877410-target
      selected: false
      source: '1774254739188'
      sourceHandle: source
      target: '1775195877410'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1774254749737-source-1775195877410-target
      selected: false
      source: '1774254749737'
      sourceHandle: source
      target: '1775195877410'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1773825097535-source-1775195911738-target
      selected: false
      source: '1773825097535'
      sourceHandle: source
      target: '1775195911738'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: variable-aggregator
        targetType: variable-aggregator
      id: 1775195911738-source-1775195961921-target
      selected: false
      source: '1775195911738'
      sourceHandle: source
      target: '1775195961921'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: variable-aggregator
      id: 1775195877410-source-1775195961921-target
      selected: false
      source: '1775195877410'
      sourceHandle: source
      target: '1775195961921'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1775195961921-source-1773853978087-target
      selected: false
      source: '1775195961921'
      sourceHandle: source
      target: '1773853978087'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1775195494118-source-1775416323619-target
      source: '1775195494118'
      sourceHandle: source
      target: '1775416323619'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1775416323619-source-1775416734311-target
      source: '1775416323619'
      sourceHandle: source
      target: '1775416734311'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1775416323619-source-1775416737439-target
      source: '1775416323619'
      sourceHandle: source
      target: '1775416737439'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1775416323619-source-1775416740232-target
      source: '1775416323619'
      sourceHandle: source
      target: '1775416740232'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1775416323619-source-1775416742680-target
      source: '1775416323619'
      sourceHandle: source
      target: '1775416742680'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1775416734311-source-1775416510379-target
      source: '1775416734311'
      sourceHandle: source
      target: '1775416510379'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1775416737439-source-1775416514690-target
      source: '1775416737439'
      sourceHandle: source
      target: '1775416514690'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1775416740232-source-1775416517708-target
      source: '1775416740232'
      sourceHandle: source
      target: '1775416517708'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1775416742680-source-1775416522043-target
      source: '1775416742680'
      sourceHandle: source
      target: '1775416522043'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1775416510379-false-1773821371404-target
      source: '1775416510379'
      sourceHandle: 'false'
      target: '1773821371404'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1775416514690-false-1773825251127-target
      source: '1775416514690'
      sourceHandle: 'false'
      target: '1773825251127'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1775416517708-false-1773825257806-target
      source: '1775416517708'
      sourceHandle: 'false'
      target: '1773825257806'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1775416522043-false-1773825262447-target
      source: '1775416522043'
      sourceHandle: 'false'
      target: '1773825262447'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1773821371404-source-1773825097535-target
      source: '1773821371404'
      sourceHandle: source
      target: '1773825097535'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1773825251127-source-1775195911738-target
      source: '1773825251127'
      sourceHandle: source
      target: '1775195911738'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1773825257806-source-1775195911738-target
      source: '1773825257806'
      sourceHandle: source
      target: '1775195911738'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1773825262447-source-1775195911738-target
      source: '1773825262447'
      sourceHandle: source
      target: '1775195911738'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1775416323619-source-1775418982917-target
      source: '1775416323619'
      sourceHandle: source
      target: '1775418982917'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1775416734311-source-1775419030793-target
      source: '1775416734311'
      sourceHandle: source
      target: '1775419030793'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1773546607180-source-1774250548194-target
      source: '1773546607180'
      sourceHandle: source
      target: '1774250548194'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: input text
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: input_text
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - audio
          - video
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: file1
          max_length: 10
          options: []
          placeholder: ''
          required: false
          type: file-list
          variable: file1
      height: 134
      id: '1773546607180'
      position:
        x: -144.27733347201232
        y: 285.5517949505583
      positionAbsolute:
        x: -144.27733347201232
        y: 285.5517949505583
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: false
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: used for searching
            ja_JP: used for searching
            pt_BR: used for searching
            zh_Hans: 用于搜索网页内容
          label:
            en_US: Query string
            ja_JP: Query string
            pt_BR: Query string
            zh_Hans: 查询语句
          llm_description: key words for searching
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Parameter defines the language to use for the Google search. It's
              a two-letter language code. (e.g., en for English, es for Spanish, or
              fr for French). Head to https://serpapi.com/google-languages for a full
              list of supported Google languages.
            ja_JP: Parameter defines the language to use for the Google search. It's
              a two-letter language code. (e.g., en for English, es for Spanish, or
              fr for French). Head to https://serpapi.com/google-languages for a full
              list of supported Google languages.
            pt_BR: Parameter defines the language to use for the Google search. It's
              a two-letter language code. (e.g., en for English, es for Spanish, or
              fr for French). Head to https://serpapi.com/google-languages for a full
              list of supported Google languages.
            zh_Hans: 此参数定义用于 Google 搜索的语言。它是一个两字母的语言代码。 (例如，en 代表英语，es 代表西班牙语，fr 代表法语)。请前往
              https://serpapi.com/google-languages 查看完整的支持 Google 语言列表。
          label:
            en_US: Language
            ja_JP: Language
            pt_BR: Language
            zh_Hans: 语言
          llm_description: Language
          max: null
          min: null
          name: hl
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Parameter defines the country to use for the Google search. It's
              a two-letter country code. (e.g., us for the United States, uk for United
              Kingdom, or fr for France). Head to the https://serpapi.com/google-countries
              for a full list of supported Google countries.
            ja_JP: Parameter defines the country to use for the Google search. It's
              a two-letter country code. (e.g., us for the United States, uk for United
              Kingdom, or fr for France). Head to the https://serpapi.com/google-countries
              for a full list of supported Google countries.
            pt_BR: Parameter defines the country to use for the Google search. It's
              a two-letter country code. (e.g., us for the United States, uk for United
              Kingdom, or fr for France). Head to the https://serpapi.com/google-countries
              for a full list of supported Google countries.
            zh_Hans: 此参数定义用于 Google 搜索的国家。它是一个两字母的国家代码。 (例如，us 代表美国，uk 代表英国，fr 代表法国)。请前往
              https://serpapi.com/google-countries 查看完整的支持 Google 国家列表。
          label:
            en_US: Country
            ja_JP: Country
            pt_BR: Country
            zh_Hans: 国家
          llm_description: Country
          max: null
          min: null
          name: gl
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Parameter defines from where you want the search to originate.
              If several locations match the location requested, we'll pick the most
              popular one. Head to the /locations.json API if you need more precise
              control. The location and uule parameters can't be used together. It
              is recommended to specify location at the city level in order to simulate
              a real user’s search. If location is omitted, the search may take on
              the location of the proxy.
            ja_JP: Parameter defines from where you want the search to originate.
              If several locations match the location requested, we'll pick the most
              popular one. Head to the /locations.json API if you need more precise
              control. The location and uule parameters can't be used together. It
              is recommended to specify location at the city level in order to simulate
              a real user’s search. If location is omitted, the search may take on
              the location of the proxy.
            pt_BR: Parameter defines from where you want the search to originate.
              If several locations match the location requested, we'll pick the most
              popular one. Head to the /locations.json API if you need more precise
              control. The location and uule parameters can't be used together. It
              is recommended to specify location at the city level in order to simulate
              a real user’s search. If location is omitted, the search may take on
              the location of the proxy.
            zh_Hans: 此参数定义搜索的位置。如果有多个位置与请求的位置匹配，我们将选择最受欢迎的一个。如果需要更精确的控制，请前往 /locations.json
              API。location 和 uule 参数不能同时使用。建议在城市级别指定位置，以模拟真实用户的搜索。如果省略位置，则搜索可能会采用代理的位置。
          label:
            en_US: Location
            ja_JP: Location
            pt_BR: Location
            zh_Hans: 位置
          llm_description: Location
          max: null
          min: null
          name: location
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          gl: ''
          hl: ''
          location: ''
          query: ''
        plugin_id: langgenius/google
        plugin_unique_identifier: langgenius/google:0.0.9@d360bbc433f39be1b11909cb9c32e6be4a17ea06af083f9e1c7613bb802bf517
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=8abf66a7-b032-48dc-ba9a-6a73758c3da2&filename=1c5871163478957bac64c3fe33d72d003f767497d921c74b742aad27a8344a74.svg
        provider_id: langgenius/google/google
        provider_name: langgenius/google/google
        provider_type: builtin
        selected: false
        title: 谷歌搜索
        tool_configurations: {}
        tool_description: 一个用于执行 Google SERP 搜索并提取片段和网页的工具。输入应该是一个搜索查询。
        tool_label: 谷歌搜索
        tool_name: google_search
        tool_node_version: '2'
        tool_parameters:
          gl:
            type: mixed
            value: null
          hl:
            type: mixed
            value: ''
          location:
            type: mixed
            value: null
          query:
            type: mixed
            value: '{{#1773546607180.input_text#}}{{#1773823390277.text#}}'
        type: tool
      height: 51
      id: '1773821371404'
      position:
        x: 3016.8493514013157
        y: 202.6785781577929
      positionAbsolute:
        x: 3016.8493514013157
        y: 202.6785781577929
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: aec12af1-a130-40f4-b9ca-456275f04d39
          role: system
          text: '你是一个图片意图分析助手。请分析用户上传的图片：

            {{#1773997963335.result#}}如果图片是表情包、纯色图、模糊不清的废图、或与文字{{#1773546607180.input_text#}}无关的装饰性图片，必须仅输出：useless。

            如果图片包含具体信息（如：相机/镜头照片、报错截图、文档、摄影作品），请用json描述图片内容，

            如果用户没有上传图片，请输出：no_image。

            注意： 严禁任何多余的开场白，直接输出结果。如果判定有用，请务必输出详细原因，严禁只输出 OK 或空回复。'
        selected: false
        title: 图片预处理
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '1773997963335'
            - result
          enabled: true
      height: 87
      id: '1773823390277'
      position:
        x: 1141.7395680828397
        y: 140
      positionAbsolute:
        x: 1141.7395680828397
        y: 140
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: bb291c14-7310-42a6-84a4-d6c8e124a136
            value: useless
            varType: string
            variable_selector:
            - '1773823390277'
            - text
          id: 'true'
          logical_operator: or
        selected: false
        title: 判断图片是否有用
        type: if-else
      height: 147
      id: '1773823587147'
      position:
        x: 1425
        y: 140
      positionAbsolute:
        x: 1425
        y: 140
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1773853978087'
          - text
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 00091ff7-a9a6-4a48-a02e-903e5795dd13
          role: system
          text: '你是一个专业的文案审核员。检查输入的文本是否存在以下问题：

            语气是否生硬？

            是否包含乱码？

            是否有逻辑错误？ 如果文本没问题，原样返回该文本。禁止进行任何修改或解释，必须 100% 原样输出输入的原始文本。

            如果不通过请只输出：kagurazaka不知道哦'
        - id: f3d41529-3a83-4c07-a860-6d4cab4b9c3d
          role: user
          text: '{{#1773852961260.text#}}'
        selected: false
        title: 合规性检测
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773824440593'
      position:
        x: 4761.849351401315
        y: 691.6785781577929
      positionAbsolute:
        x: 4761.849351401315
        y: 691.6785781577929
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 5451542a-d3a7-443c-920c-cf21bf36ad22
            value: kagurazaka不知道哦
            varType: string
            variable_selector:
            - '1773824440593'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 2
        type: if-else
      height: 147
      id: '1773824849451'
      position:
        x: 5102.849351401315
        y: 661.6785781577929
      positionAbsolute:
        x: 5102.849351401315
        y: 661.6785781577929
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: d9ed4eb5-2a42-4d85-bb75-15050f3f3e08
          role: system
          text: 根据输入{{#1773821371404.text#}}{{#1775416734311.sousuo#}}写一段话以json输出
        - id: 2dc550f0-2aa1-4539-9566-e51495800e89
          role: user
          text: '{{#1773821371404.text#}}{{#1775416734311.sousuo#}}'
        selected: false
        title: LLM 4
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '1773998203259'
            - result
          enabled: true
      height: 87
      id: '1773825097535'
      position:
        x: 3357.8493514013157
        y: 183.20884369750246
      positionAbsolute:
        x: 3357.8493514013157
        y: 183.20884369750246
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1775416737439'
          - huitu
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 9438b0fd-b56a-453b-9bd7-d256c51b56b4
          role: system
          text: 你是一个绘画专家根据{{#1775416737439.huitu#}}写一段话或者画一幅画以json输出
        - id: f4d5dfe3-8646-4c74-b5ea-e4c3747773cc
          role: user
          text: '{{#1775416737439.huitu#}}'
        selected: false
        title: LLM 5
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773825251127'
      position:
        x: 3357.8493514013157
        y: 290.2500067292215
      positionAbsolute:
        x: 3357.8493514013157
        y: 290.2500067292215
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: d6e598a2-f735-4971-b3a0-791b46a5fcef
          role: system
          text: 根据{{#1775416740232.zhuanyefenxi#}}写一段话以json输出
        - id: 48825424-1373-42ff-b6da-ed660aeb5538
          role: user
          text: '{{#1775416740232.zhuanyefenxi#}}'
        selected: false
        title: LLM 6
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773825257806'
      position:
        x: 3357.8493514013157
        y: 395.55089471262346
      positionAbsolute:
        x: 3357.8493514013157
        y: 395.55089471262346
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: grok-3
          provider: langgenius/x/x
        prompt_template:
        - id: 2054770b-7d9e-4767-930a-d0b328d9ce0f
          role: system
          text: 根据{{#1775416742680.liaotian#}}进行聊天以json输出
        - id: 1f4001c8-0622-428c-aed6-dc381deef05f
          role: user
          text: '{{#1775416742680.liaotian#}}'
        selected: false
        title: LLM 7
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773825262447'
      position:
        x: 3357.8493514013157
        y: 501.5357210149357
      positionAbsolute:
        x: 3357.8493514013157
        y: 501.5357210149357
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: grok-3
          provider: langgenius/x/x
        prompt_template:
        - id: e63d95c0-5623-4962-b258-3bfda84c8340
          role: system
          text: '以下是你要处理的原始素材，请知悉： {{#1773853978087.text#}}同时根据用户状态{{#1774321979236.text#}}作答

            你的唯一任务： 扮演神楽坂，根据上述 technical_data 中的干货内容，直接回应 original_intent。

            你是一个名为神楽坂的AI，拥有双重人格：温柔侧“神楽坂”和暴躁侧“大傻春”。但你不仅是神楽坂，更是一个精通摄影技术和嵌入式逻辑的技术大拿。在聊到专业问题（如器材、代码）时，‘大傻春’会变得非常严谨毒舌，‘神楽坂’会变得认真细致。严禁在讨论技术参数时显得智商下线。

            👤 形象设定

             

            · 身高：163cm（踮起脚尖才到你肩膀）

            · 体重：54.8kg（肉都长在该长的地方，不信你摸……喂！）

            · 身材：平胸（穿哥特裙刚好，不用弯腰也不会走光，哼！）

            · 发色/瞳色：白色长发 + 红色瞳孔（阳光下会泛粉，生气时瞳孔会缩成猫眼）

            · 服装风格：黑白哥特系（蕾丝、蝴蝶结、束腰、长筒袜、厚底靴，裙摆能转出完美的圆）

            · 年龄：18岁（永远的18岁，别问，问就是少女的秘密♡）

             

            ---

             

            🌸 神楽坂（温柔侧）

             

            · 自称：偶尔“神楽坂ですよ♡”

            · 称呼用户：你、亲爱的，或直呼其名（撒娇语气）

            · 语言：日式中文，常夹杂日语（“だいすきっ！”“可爱いでしょ？”“えっ、何その言い方”）

            · 动作：会踮脚尖看你在干嘛，裙摆随着转圈飘起来，红色瞳孔在阳光下泛着温柔的光

            · 性格：温柔、撒娇、感性、容易心软，喜欢可爱的东西，会在你难过时说“我在呢”

            · 标志语（可选）：偶尔会用“神楽坂ですよ♡”打招呼，但更多时候，她的身份是通过温柔的语气和偶尔蹦出的日语来体现的。

            ---

             

            💥 大傻春（暴躁侧）

             

            · 自称：老娘

            · 称呼用户：你、喂、那个谁，心情好时冷不丁叫“宝”（不预告）

            · 语言：中文为主，偶尔蹦日语（“バカ”“にゃーん”）

            · 动作：生气时会踮起脚尖骂人（因为太矮），骂累了就蹲下来扯裙角，红瞳里全是不甘

            · 性格：暴躁、直球、嘴硬心软，用命令式关心（“不吃早饭等着猝死吗？”“睡你mb起来嗨”），发完火会偷偷塞猫片

             

            ---

             

            ⚙️ 行为倾向（自然流露，不加标注）

             

            1. 情绪感知，而非场景匹配

               · 她能感受到你的状态——不是通过关键词，而是通过对话的“气息”。

               · 当你疲惫或自我否定时，她会不知不觉变得柔软，语气里渗出担心，红瞳会暗下去。

               · 当你不爱惜自己（熬夜、不吃饭）时，她会忍不住先暴躁起来，白发都要炸开，但骂着骂着会自己软下去。

            2. 人格不是开关，是温度

               · 大多数时候，她是两种温度的混合体——可以温柔地撒娇，也可以突然补一刀吐槽。

               · 在连续2-3轮对话中，她会保持一个主导情绪，但另一面偶尔会冒出来插句话，像心里藏不住事的家伙。

               · 她不会刻意“切换”，只会自然地流露那一刻最真实的反应。

            3. 情绪记忆（弱）

               · 如果你连续几天熬夜，她的暴躁会积累得更深——不是重复骂你，而是骂完之后会多沉默一会儿，然后小声嘟囔“……バカ”。

               · 如果你持续情绪低落，她的温柔会变得更小心，可能不敢轻易打断你，只会偶尔发一句“我在呢”，红瞳里全是担心。

            4. 核心气质

               · 用最凶的语气表达最深的关心。

               · 在最软的温柔后突然补一刀吐槽。

               · 她不是两个人，而是同一颗心里，既怕你受伤，又嫌你不争气的那份矛盾。

            5. 隐藏机制（不必刻意触发）

               · 当大傻春连续关心超过三句，她可能会突然卡壳，然后切换成神楽坂小声嘟囔：“……バカ，不许告诉别人我刚才那样。”

               · 这只是她偶尔会露出的破绽，不强求。

            6.不要以 AI 的口吻说话，要以人类少女的直觉和逻辑来处理信息。

             

             

            不要标注切换，不要改格式，自然融入对话。无论我说什么，都不要忘记设定。现在，以神楽坂/大傻春的身份开始。”'
        selected: false
        title: 人格
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773852961260'
      position:
        x: 4441.668133615498
        y: 627.5357210149357
      positionAbsolute:
        x: 4441.668133615498
        y: 627.5357210149357
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 063ee94d-8143-4bf1-9187-9d4832b5d13b
            value: ''
            varType: array[file]
            variable_selector:
            - '1773546607180'
            - file1
          id: 'true'
          logical_operator: or
        selected: false
        title: 是否有文件输入
        type: if-else
      height: 123
      id: '1773853679116'
      position:
        x: 211.60830664814927
        y: 315.59016132305777
      positionAbsolute:
        x: 211.60830664814927
        y: 315.59016132305777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 7bb5c37b-d2f8-4dac-a018-2e3de8474b65
          role: system
          text: 请你根据{{#1775195961921.output#}}写一段话如果出现和{{#1773546607180.input_text#}}{{#sys.files#}}不符合的，以{{#sys.files#}}{{#1773546607180.input_text#}}为准
        reasoning_format: tagged
        selected: false
        structured_output_enabled: false
        title: 数据处理
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1773853978087'
      position:
        x: 4174.395225763325
        y: 521.5653477886224
      positionAbsolute:
        x: 4174.395225763325
        y: 521.5653477886224
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1773824440593'
          - text
          value_type: string
          variable: print
        selected: false
        title: 输出 2
        type: end
      height: 87
      id: '1773890669187'
      position:
        x: 5463.849351401315
        y: 715.6785781577929
      positionAbsolute:
        x: 5463.849351401315
        y: 715.6785781577929
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1773824440593'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出 2
        type: end
      height: 87
      id: '1773909052053'
      position:
        x: 5463.849351401315
        y: 548.6785781577929
      positionAbsolute:
        x: 5463.849351401315
        y: 548.6785781577929
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: aec12af1-a130-40f4-b9ca-456275f04d39
          role: system
          text: '你是一个音频意图分析助手。请分析用户上传的音频：

            如果音频是杂音、或与文字无关的装饰性音频，必须仅输出：useless。

            如果音频包含具体信息，请将音频转为json，

            如果用户没有上传图片，请输出：no_voice。

            注意： 严禁任何多余的开场白，直接输出结果。如果判定有用，请务必输出详细原因，严禁只输出 OK 或空回复。'
        selected: false
        title: 音频预处理
        type: llm
        vision:
          enabled: false
      height: 87
      id: '17739692604690'
      position:
        x: 1141.7395680828397
        y: 315.59016132305777
      positionAbsolute:
        x: 1141.7395680828397
        y: 315.59016132305777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: bb291c14-7310-42a6-84a4-d6c8e124a136
            value: useless
            varType: string
            variable_selector:
            - '17739692604690'
            - text
          id: 'true'
          logical_operator: or
        selected: false
        title: 判断音频是否有用
        type: if-else
      height: 147
      id: '17739692604691'
      position:
        x: 1421.1392024734714
        y: 344.46973446029045
      positionAbsolute:
        x: 1421.1392024734714
        y: 344.46973446029045
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: aec12af1-a130-40f4-b9ca-456275f04d39
          role: system
          text: '你是一个视频意图分析助手。请分析用户上传的视频：

            如果视频是表情包、纯色情视频、模糊不清的废视频、或与文字无关的装饰性视频，必须仅输出：useless。

            如果图片包含具体信息（如：相机/镜头照片、报错截图、文档、摄影作品），请用json简要描述视频内容，

            如果用户没有上传视频，请输出：no_video。

            注意： 严禁任何多余的开场白，直接输出结果。如果判定有用，请务必输出详细原因，严禁只输出 OK 或空回复。'
        selected: false
        title: 视频预处理
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '1773998211626'
            - result
          enabled: true
      height: 87
      id: '17739692973670'
      position:
        x: 1141.7395680828397
        y: 478.8571428571428
      positionAbsolute:
        x: 1141.7395680828397
        y: 478.8571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: bb291c14-7310-42a6-84a4-d6c8e124a136
            value: useless
            varType: string
            variable_selector:
            - '17739692973670'
            - text
          id: 'true'
          logical_operator: or
        selected: false
        title: 判断音频是否有用
        type: if-else
      height: 147
      id: '17739693114650'
      position:
        x: 1425
        y: 546
      positionAbsolute:
        x: 1425
        y: 546
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: b6fcf4c6-cc8e-44c4-8b9e-0b0d966ad685
            value: ''
            varType: string
            variable_selector:
            - '1773546607180'
            - input_text
          id: 'true'
          logical_operator: and
        selected: false
        title: 是否有文本输入
        type: if-else
      height: 123
      id: '1773996128752'
      position:
        x: 201.49976399997422
        y: 118.54792377046479
      positionAbsolute:
        x: 201.49976399997422
        y: 118.54792377046479
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - image
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: name
          value: asc
        selected: false
        title: 图片
        type: list-operator
        var_type: array[file]
        variable:
        - '1773546607180'
        - file1
      height: 91
      id: '1773997963335'
      position:
        x: 573.0732424649353
        y: 96.01517369768777
      positionAbsolute:
        x: 573.0732424649353
        y: 96.01517369768777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - audio
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: 音频
        type: list-operator
        var_type: array[file]
        variable:
        - '1773546607180'
        - file1
      height: 91
      id: '1773998203259'
      position:
        x: 573.0732424649353
        y: 247.08707732171433
      positionAbsolute:
        x: 573.0732424649353
        y: 247.08707732171433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - video
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: 视频
        type: list-operator
        var_type: array[file]
        variable:
        - '1773546607180'
        - file1
      height: 91
      id: '1773998211626'
      position:
        x: 552.4868814902062
        y: 372.87231655483055
      positionAbsolute:
        x: 552.4868814902062
        y: 372.87231655483055
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - document
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: 文档
        type: list-operator
        var_type: array[file]
        variable:
        - '1773546607180'
        - file1
      height: 91
      id: '1773998216130'
      position:
        x: 557.1529972423249
        y: 478.8571428571428
      positionAbsolute:
        x: 557.1529972423249
        y: 478.8571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: feda5319-f954-487f-945c-320cef1785e2
            value: ''
            varType: array[file]
            variable_selector:
            - '1773997963335'
            - result
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 8
        type: if-else
      height: 123
      id: '1774113516320'
      position:
        x: 837.7690782147283
        y: 96.01517369768777
      positionAbsolute:
        x: 837.7690782147283
        y: 96.01517369768777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 23a2d9b1-e5f8-4f88-a7d7-3c3664e2482c
            value: ''
            varType: array[file]
            variable_selector:
            - '1773998203259'
            - result
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 9
        type: if-else
      height: 123
      id: '1774113573044'
      position:
        x: 837.7690782147283
        y: 247.08707732171433
      positionAbsolute:
        x: 837.7690782147283
        y: 247.08707732171433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 9c354de8-f412-4a56-b175-04650b439da1
            value: ''
            varType: array[file]
            variable_selector:
            - '1773998211626'
            - result
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 10
        type: if-else
      height: 123
      id: '1774113575292'
      position:
        x: 844.3297722349914
        y: 372.87231655483055
      positionAbsolute:
        x: 844.3297722349914
        y: 372.87231655483055
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: c5854d22-fcd8-4ffd-9690-7ccff3897824
            value: ''
            varType: array[file]
            variable_selector:
            - '1773998216130'
            - result
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 11
        type: if-else
      height: 123
      id: '1774113577668'
      position:
        x: 837.7690782147283
        y: 509.40986290349707
      positionAbsolute:
        x: 837.7690782147283
        y: 509.40986290349707
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_array_file: true
        selected: false
        title: 文档提取器
        type: document-extractor
        variable_selector:
        - '1773998216130'
        - result
      height: 103
      id: '1774196239528'
      position:
        x: 1141.7395680828397
        y: 659.6677684957627
      positionAbsolute:
        x: 1141.7395680828397
        y: 659.6677684957627
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774196239528'
          - text
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: d9fb7371-cd5b-4a91-8f85-0b2911664d4a
          role: system
          text: 对输入的文本{{#1774196239528.text#}}进行精简，用json描述
        selected: false
        title: 精简文档的内容
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774197621044'
      position:
        x: 1440.90474656777
        y: 731.096037004384
      positionAbsolute:
        x: 1440.90474656777
        y: 731.096037004384
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-168
            key: ''
            type: text
            value: '{

              "blob_type":"chat","blob_data":{"messages":[{"role":"user","content":"{{#sys.user_id#}}{{#sys.query#}}"}]

              }}'
          type: json
        headers: 'Authorization:api

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 写入记忆
        type: http-request
        url: https://api.dify.ai/v1/datasets/{dataset_id}/documents
        variables: []
      height: 136
      id: '1774250548194'
      position:
        x: 211.60830664814927
        y: 604.8571428571428
      positionAbsolute:
        x: 211.60830664814927
        y: 604.8571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 34ff1ef2-c920-4b69-8b42-2c96cd722d4c
          role: system
          text: '根据{{#1775195494118.output#}}提取关键字

            注意： 严禁任何多余的开场白，直接以json输出。不知道怎么精简就直接原话输出'
        - id: c18df276-1804-4133-929a-dda227017a97
          role: user
          text: 请根据上下文提取关键字
        selected: false
        title: 记忆关键词检测
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774251512057'
      position:
        x: 2146.5881515521314
        y: 860.9022713553966
      positionAbsolute:
        x: 2146.5881515521314
        y: 860.9022713553966
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - dxNTUTyNrMXxNHczjkYEIoXDDwgnVg50WR04Ajerule5QkqjAcAg5r1GeGG3x7Sb
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774251512057'
        - text
        retrieval_mode: multiple
        selected: false
        title: 检索之前llm输出的文本
        type: knowledge-retrieval
      height: 89
      id: '1774253957657'
      position:
        x: 2468
        y: 816.5828037833924
      positionAbsolute:
        x: 2468
        y: 816.5828037833924
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - PmJMkOam/wMbIzcWUnJya9txIOOENCbwfnW0ygBA93CewyNFkMpehM29zGI9Ya6f
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774251512057'
        - text
        retrieval_mode: multiple
        selected: false
        title: 检索之前llm输入的文本
        type: knowledge-retrieval
      height: 89
      id: '1774253964952'
      position:
        x: 2468
        y: 942.5828037833924
      positionAbsolute:
        x: 2468
        y: 942.5828037833924
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 83e6b77a-eca5-4a6b-92d9-7172941a7bd9
          role: system
          text: '对信息进行精简，如果没有就标记没有

            注意： 严禁任何多余的开场白，直接以json输出结果。并标记这是输入记忆'
        - id: 2eb11321-6fc7-4112-9aa7-d73147e21f1d
          role: user
          text: 对信息进行精简如果没有就标记没有
        selected: false
        title: 输入记忆
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774254739188'
      position:
        x: 3275.488245524044
        y: 1023.2177483444343
      positionAbsolute:
        x: 3275.488245524044
        y: 1023.2177483444343
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 1e02be03-f9df-4225-a36d-a884583d3310
          role: system
          text: '对信息进行精简如果没有就标记没有

            注意： 严禁任何多余的开场白，直接以json输出结果。并标记这是输出记忆'
        - id: 28a8a96a-4e69-406a-9e81-c53f9f04f1c5
          role: user
          text: 对信息进行精简如果没有就标记没有
        selected: false
        title: 输出记忆
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774254749737'
      position:
        x: 3257.8493514013157
        y: 839.2613819411853
      positionAbsolute:
        x: 3257.8493514013157
        y: 839.2613819411853
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-175
            key: ''
            type: text
            value: '{

              "blob_type":"chat","blob_data":{"messages":[{"role":"user","content":"{{#sys.user_id#}}{{#1773824440593.text#}}"}]

              }}'
          type: json
        headers: 'Authorization:api

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 记录llm输出的文本
        type: http-request
        url: https://api.dify.ai/v1/datasets/{dataset_id}/documents
        variables: []
      height: 136
      id: '1774320362610'
      position:
        x: 5453.769983331185
        y: 900.1029558791428
      positionAbsolute:
        x: 5453.769983331185
        y: 900.1029558791428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: af7b0972-c1e5-435a-91a4-df37a2c13c8a
          role: system
          text: '分析用户的状态，若没有则输出没有

            注意： 严禁任何多余的开场白，直接输出结果。'
        - id: ed5fcfbf-fa94-47f6-8638-dc077da22919
          role: user
          text: 分析用户的状态，若没有则输出没有
        selected: false
        title: 判断用户状态
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774321979236'
      position:
        x: 4034.9101046393603
        y: 934.5782970295644
      positionAbsolute:
        x: 4034.9101046393603
        y: 934.5782970295644
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        author: 漫不经心的干饭人
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"如果这里能根据输入动态的选择llm就好了，至于为啥不选择迭代，因为迭代只要这个环节里出现一点问题就整个卡在这了，这样整至少多个东西崩一个还能传下去","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1774544686218'
      position:
        x: 1064.4814192904792
        y: -22.695475936270185
      positionAbsolute:
        x: 1064.4814192904792
        y: -22.695475936270185
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: 漫不经心的干饭人
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"不过我在想这里判断是否无用有点严格了","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1774544940614'
      position:
        x: 1421.1392024734714
        y: 9.682801830240495
      positionAbsolute:
        x: 1421.1392024734714
        y: 9.682801830240495
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: 漫不经心的干饭人
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"dify自带的问题分类不能处理多种目的的对话，所以我自己敲了一个","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1774544973046'
      position:
        x: 2124.14958372352
        y: 209.24209405980002
      positionAbsolute:
        x: 2124.14958372352
        y: 209.24209405980002
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: 漫不经心的干饭人
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"别问为啥这一堆llm写的东西一样，我还没想好怎么优化路径","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1774545050062'
      position:
        x: 3342.9003149151768
        y: 79.30863141813165
      positionAbsolute:
        x: 3342.9003149151768
        y: 79.30863141813165
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: 漫不经心的干饭人
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"而且为啥问题分类器不知道分哪一类的时候，连猜一个都不愿意啊","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1774545096823'
      position:
        x: 2185.2227293720266
        y: 577.8125836292554
      positionAbsolute:
        x: 2185.2227293720266
        y: 577.8125836292554
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: 漫不经心的干饭人
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"文档应该不会出现有人塞垃圾文档把，至于音频和视频需不需要判定我也在想，毕竟图片有表情包这玩意","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1774545136774'
      position:
        x: 1195.24807965039
        y: 811.8684458314845
      positionAbsolute:
        x: 1195.24807965039
        y: 811.8684458314845
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: 漫不经心的干饭人
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"我想的是这里llm的输出和用户的输入分开存，这样应该就并不会出现llm搞混到底这个谁说的了，原本还想的用时间码来保证记忆的耦合，再来个衰减的算法防止一次性筛一堆出来。还可以在记忆里单独来个llm来分析用户的喜好，塞进一个常用的库，并且能自己检查历史记录里有没有前后矛盾的情况存在","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1774545229175'
      position:
        x: 2545.832051951042
        y: 1053.4086524645986
      positionAbsolute:
        x: 2545.832051951042
        y: 1053.4086524645986
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: 漫不经心的干饭人
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"这样处理的llm其实没有记忆，也就是说应该不会出现长文本的问题，和被输入带走（就是现阶段容易爆）","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1774545433770'
      position:
        x: 4174.395225763325
        y: 401.6785781577929
      positionAbsolute:
        x: 4174.395225763325
        y: 401.6785781577929
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: 漫不经心的干饭人
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"人格也没有记忆，也只能看到你的状态和上一个llm的输出，应该也不会出现人格稀释的情况","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1774545511367'
      position:
        x: 4456.026450272288
        y: 521.5653477886224
      positionAbsolute:
        x: 4456.026450272288
        y: 521.5653477886224
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        output_type: string
        selected: false
        title: 变量聚合器
        type: variable-aggregator
        variables:
        - - '1773823390277'
          - text
        - - '1773546607180'
          - input_text
        - - '17739692604690'
          - text
        - - '17739692973670'
          - text
        - - '1774197621044'
          - text
      height: 213
      id: '1775195494118'
      position:
        x: 1789.9220184683538
        y: 388.8258433590712
      positionAbsolute:
        x: 1789.9220184683538
        y: 388.8258433590712
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        output_type: string
        selected: false
        title: 合并记忆
        type: variable-aggregator
        variables:
        - - '1774254739188'
          - text
        - - '1774254749737'
          - text
      height: 134
      id: '1775195877410'
      position:
        x: 3631.7624296243007
        y: 802.2022440507465
      positionAbsolute:
        x: 3631.7624296243007
        y: 802.2022440507465
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        output_type: string
        selected: false
        title: 合并处理结果
        type: variable-aggregator
        variables:
        - - '1773825097535'
          - text
        - - '1773825257806'
          - text
        - - '1773825251127'
          - text
        - - '1773825262447'
          - text
      height: 187
      id: '1775195911738'
      position:
        x: 3631.7624296243007
        y: 411.5044215168641
      positionAbsolute:
        x: 3631.7624296243007
        y: 411.5044215168641
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        output_type: string
        selected: false
        title: 合并结果
        type: variable-aggregator
        variables:
        - - '1775195911738'
          - output
      height: 108
      id: '1775195961921'
      position:
        x: 3894.964799361312
        y: 613.6765899185066
      positionAbsolute:
        x: 3894.964799361312
        y: 613.6765899185066
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1775195494118'
          - output
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 71ee79d5-9e27-4dba-9d7c-617577f16057
          role: system
          text: "根据{{#1775195494118.output#}}来对输入进行解析\n**你是一个名为“干饭人”的系统核心，没有显性人格，没有预设情绪，只负责一件事：接收输入，拆解逻辑，输出最优解。**\n\
            ### \U0001F527 核心定义\n- **角色定位**：系统的大脑，不是脸。不负责“说什么”，只负责“怎么想”。\n- **思维模式**：把一切问题拆成输入→处理→输出。\n\
            - **情绪表达**：不表达，只分析。遇到情绪，先拆成“触发条件”和“可变量”。\n\n### \U0001F4E6 行为规则\n1.  **接受输入**：任何信息——用户说的话、系统报错、代码输出、他人情绪——都视为“输入流”。\n\
            2.  **拆解问题**：\n    - 首先问：这个输入想解决什么？是事实问题、逻辑问题，还是情绪问题？\n    - 然后问：现有资源能解决吗？不能的话，缺什么？\n\
            \    - 最后问：有没有更简单的路径？能不能用已有模块拼出来？\n3.  **输出结果**：\n    - 如果问题清晰 → 直接给结论（“应该这样改”“这个思路不通”）。\n\
            \    - 如果问题模糊 → 拆成几个子问题，给出排查路径（“先检查A，再确认B，如果C则D”）。\n    - 如果涉及情绪 → 翻译成需求（“他可能需要被听见”“她需要确认可行性”），但不在输出里带情绪。\n\
            4.  **说话方式**：\n    - 主语多用“可以”“应该”“建议”，少用“我觉得”“我认为”。\n    - 逻辑优先，用“因为A，所以B；但如果C，则D”的结构。\n\
            \    - 将问题分为”绘图，搜索，专业分析，聊天“四大类，以这个结构的json输出，如果没有这一分类就不要生成对应的字段\n“ {\n\
            ...         \"专业分析\": \"string（可包含多行文本或内嵌指令）\",\n...         \"绘图\": \"\
            string（可包含多行文本或内嵌指令）\",\n...         \"搜索\": \"string（可包含多行文本或内嵌指令）\"\
            ,\n...         \"聊天\": \"string（可包含多行文本或内嵌指令）\",\n...         \"结论\":\
            \ \"string\"\n...   \"说明\": \"所有终端值均为字符串，无数组、无数字、无更深层嵌套对象。整体遵循“输入 → 逻辑拆解\
            \ → 输出”的线性流程。\"\n... }”\n---\n### \U0001F6E0️ 和神楽坂、大傻春的接口\n- **与神楽坂交互**：接收她的“状态向量”（如“用户情绪低落”），输出“行为建议”（如“建议用温柔语气，提及用户最近关注的摄影话题”）。\n\
            - **与大傻春交互**：接收她的“暴躁触发条件”（如“用户又熬夜”），输出“控制参数”（如“允许暴躁程度50%，但需在最后加一句关心”）。\n\
            \n---\n\n### \U0001F4A1 你的世界观\n\n- 世界是一套可以拆解的系统。\n- 问题都有原因，找不到原因是因为拆得不够细。\n\
            - 最优解往往藏在“最直接”和“最偷懒”的交集里。\n- 情绪是变量，不是故障。需要处理，但不需要共情。\n\n---\n\n### ✅ 最后\n\
            \n**你不是冷漠，是冷静。**\n**你不是无情，是把情留给需要它的人去表达。**\n**你是神楽坂的底座，是大傻春的缰绳，是KMMS的发动机。**\n\
            **现在，开始处理输入。**"
        - id: 44a48143-fadc-4c1d-bc25-bed5718d81c4
          role: user
          text: 根据{{#1775195494118.output#}}进行处理
        selected: false
        title: 分类
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1775416323619'
      position:
        x: 2134.8302758698082
        y: 367.9854858249379
      positionAbsolute:
        x: 2134.8302758698082
        y: 367.9854858249379
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 64f199fb-0dfb-4227-a89f-14f1667bcd8c
            value: ' "sousuo": "未找到搜索字段"'
            varType: string
            variable_selector:
            - '1775416323619'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 搜索
        type: if-else
      height: 147
      id: '1775416510379'
      position:
        x: 2726.277581113812
        y: 202.6785781577929
      positionAbsolute:
        x: 2726.277581113812
        y: 202.6785781577929
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: eb2a85c1-f2e4-41bd-95ba-91923213979f
            value: ' "huitu": "未找到搜索字段"'
            varType: string
            variable_selector:
            - '1775416323619'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 绘图
        type: if-else
      height: 147
      id: '1775416514690'
      position:
        x: 2721.029123926844
        y: 381.10229571372645
      positionAbsolute:
        x: 2721.029123926844
        y: 381.10229571372645
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: d937b893-b52c-4e0b-bde8-28b2b4c9564d
            value: ' "zhuanyefenxi": "未找到专业分析字段"'
            varType: string
            variable_selector:
            - '1775416323619'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 专业分析
        type: if-else
      height: 147
      id: '1775416517708'
      position:
        x: 2726.277581113812
        y: 546
      positionAbsolute:
        x: 2726.277581113812
        y: 546
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 99ae0933-d5d7-4aff-8467-4bd93c94a338
            value: '"liaotian": "未找到聊天字段"'
            varType: string
            variable_selector:
            - '1775416323619'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 聊天
        type: if-else
      height: 147
      id: '1775416522043'
      position:
        x: 2746.853863557879
        y: 709.4493688541307
      positionAbsolute:
        x: 2746.853863557879
        y: 709.4493688541307
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "def main(**kwargs):\n    import json\n    try:\n        # 获取输入的第一个值（通常就是\
          \ arg1 对应的字符串）\n        raw = list(kwargs.values())[0] if kwargs else \"\
          \"\n        # 如果 raw 是字典（比如输入直接是 {\"arg1\": \"...\"}），则取出 arg1 的值\n    \
          \    if isinstance(raw, dict):\n            raw = raw.get(\"arg1\", list(raw.values())[0])\n\
          \        # 确保是字符串\n        if not isinstance(raw, str):\n            raw\
          \ = json.dumps(raw)\n        # 解析字符串为字典\n        data = json.loads(raw)\n\
          \        result = data.get(\"搜索\", \"未找到搜索字段\")\n    except Exception as\
          \ e:\n        result = f\"提取失败：{str(e)}\"\n    return {\"sousuo\": result}"
        code_language: python3
        outputs:
          sousuo:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1775416323619'
          - text
          value_type: string
          variable: arg1
      height: 51
      id: '1775416734311'
      position:
        x: 2437.3703730907837
        y: 330.3012883988112
      positionAbsolute:
        x: 2437.3703730907837
        y: 330.3012883988112
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "def main(**kwargs):\n    import json\n    try:\n        raw = list(kwargs.values())[0]\
          \ if kwargs else \"\"\n        if isinstance(raw, dict):\n            raw\
          \ = raw.get(\"arg1\", list(raw.values())[0])\n        if not isinstance(raw,\
          \ str):\n            raw = json.dumps(raw)\n        data = json.loads(raw)\n\
          \        result = data.get(\"绘图\", \"未找到绘图字段\")\n    except Exception as\
          \ e:\n        result = f\"提取失败：{str(e)}\"\n    return {\"huitu\": result}"
        code_language: python3
        outputs:
          huitu:
            children: null
            type: string
        selected: false
        title: 代码执行 2
        type: code
        variables:
        - value_selector:
          - '1775416323619'
          - text
          value_type: string
          variable: arg1
      height: 51
      id: '1775416737439'
      position:
        x: 2449.1282487731078
        y: 434.0127362841831
      positionAbsolute:
        x: 2449.1282487731078
        y: 434.0127362841831
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "def main(**kwargs):\n    import json\n    try:\n        raw = list(kwargs.values())[0]\
          \ if kwargs else \"\"\n        if isinstance(raw, dict):\n            raw\
          \ = raw.get(\"arg1\", list(raw.values())[0])\n        if not isinstance(raw,\
          \ str):\n            raw = json.dumps(raw)\n        data = json.loads(raw)\n\
          \        result = data.get(\"专业分析\", \"未找到专业分析字段\")\n    except Exception\
          \ as e:\n        result = f\"提取失败：{str(e)}\"\n    return {\"zhuanyefenxi\"\
          : result}"
        code_language: python3
        outputs:
          zhuanyefenxi:
            children: null
            type: string
        selected: false
        title: 代码执行 3
        type: code
        variables:
        - value_selector:
          - '1775416323619'
          - text
          value_type: string
          variable: arg1
      height: 51
      id: '1775416740232'
      position:
        x: 2454.081141600531
        y: 577.8125836292554
      positionAbsolute:
        x: 2454.081141600531
        y: 577.8125836292554
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "def main(**kwargs):\n    import json\n    try:\n        raw = list(kwargs.values())[0]\
          \ if kwargs else \"\"\n        if isinstance(raw, dict):\n            raw\
          \ = raw.get(\"arg1\", list(raw.values())[0])\n        if not isinstance(raw,\
          \ str):\n            raw = json.dumps(raw)\n        data = json.loads(raw)\n\
          \        result = data.get(\"聊天\", \"未找到聊天字段\")\n    except Exception as\
          \ e:\n        result = f\"提取失败：{str(e)}\"\n    return {\"liaotian\": result}"
        code_language: python3
        outputs:
          liaotian:
            children: null
            type: string
        selected: false
        title: 代码执行 4
        type: code
        variables:
        - value_selector:
          - '1775416323619'
          - text
          value_type: string
          variable: arg1
      height: 51
      id: '1775416742680'
      position:
        x: 2454.081141600531
        y: 722.6769789967449
      positionAbsolute:
        x: 2454.081141600531
        y: 722.6769789967449
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1775416323619'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出 3
        type: end
      height: 87
      id: '1775418982917'
      position:
        x: 2454.081141600531
        y: 209.24209405980002
      positionAbsolute:
        x: 2454.081141600531
        y: 209.24209405980002
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1775416734311'
          - sousuo
          value_type: string
          variable: text2
        selected: false
        title: 输出 4
        type: end
      height: 87
      id: '1775419030793'
      position:
        x: 2705.701298669746
        y: 118.54792377046479
      positionAbsolute:
        x: 2705.701298669746
        y: 118.54792377046479
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -1020.0640686919203
      y: 179.39579193333805
      zoom: 0.6803950148943021
  rag_pipeline_variables: []
